<!-- HOMEPAGE TEMPLATE THREE -->
{% include "includes/homepage_header_template_black_bar.html" %}

<div role="banner" id="global-header" style="background-color: #005DA6">
    <div id="content">
        <div class="grid-row">

            <div class="leftcolumn column-two-thirds">
                <h1 class="heading-xlarge">CJS Common Platform</h1>
                
                <div class="homepage-search">
                    <p class="search-header">Search for a case</p>
                    <label class="form-label" for="case-search" style="color: #fff; margin-top:0; margin-bottom: 5px">Enter reference number or defendant's last name</label>
                    <input class="form-control" id="case-search" type="text" name="case-search" style="border:none; width:80%; height: 40px"><object data="/public/images/design_patterns/homepage-templates/search-button.svg" type="image/svg+xml" class="svg" style="vertical-align: bottom"></object>
                </div>
                
            </div>

            <div class="rightcolumn column-one-third">
                <p>Lorem ipsum aute irure</p>
                <p><a href="#">Dolor sit amet</a></p>
                <p><a href="#">Consectetur adipscing</a></p>
                <p><a href="#">Ullamco laboris nisi</a></p>
                <p><a href="#">Aut odit aut fugit</a></p>
                <p>&nbsp;</p>
            </div>

        </div>
    </div>
    
</div>