<div class="other_resources">
    <h2 class="heading-small top_0 right_col_hr">Other resources</h2>
    <ul class="list list-bullet">
        <li>
            <a href="https://tools.hmcts.net/confluence/display/CUE/Content+design+guidelines+and+patterns" title="CJS CPP guidelines to writing content">CJS CPP guidelines to writing content</a>
        </li>
        <li>
            <a href="https://www.gov.uk/guidance/style-guide" title="GDS content style guide">GDS content style guide</a>
        </li>
        <li>
            <a href="https://govuk-elements.herokuapp.com/snippets/" title="GOV.UK Elements">GOV.UK Elements</a>
        </li>
        <li>
            <a href="https://www.gov.uk/service-manual" title="GOV.UK Service Manual">GOV.UK Service Manual</a>
        </li>
        <li>
            <a href="https://www.gov.uk/service-manual/design#find-patterns" title="GDS Design patterns">GDS Design patterns</a>
        </li>
        <li>
            <a href="https://www.gov.uk/design-principles" title="GDS Design Principles">GDS Design Principles</a>
        </li>
    </ul>
</div>