<div class="other_resources">
    <h2 class="heading-medium top_0 right_col_hr">Other resources</h2>
    <ul class="list list-bullet">
        
        <li>
            <a href="https://www.gov.uk/service-manual/design#find-patterns">GDS Design patterns</a>
        </li>
        <li>
            <a href="https://govuk-elements.herokuapp.com/snippets/">GOV.UK Elements</a>
        </li>
        <li>
            <a href="https://www.gov.uk/service-manual">GOV.UK Service Manual</a>
        </li>
        <li>
            <a href="https://www.gov.uk/design-principles">GDS Design Principles</a>
        </li>
    </ul>
</div>