<div class="other_resources">
    <h2 class="heading-small top_0 right_col_hr">Sketch resources</h2>
    <ul class="list list-bullet">
        <li>
            <a href="https://www.sketchapp.com" title="Get Bohemia Sketch" target="_blank">Get Bohemia Sketch</a>
        </li>
        <li>
            <a href="https://github.com/andrewfiorillo/sketch-palettes" title="Sketch Palettes plugin" target="_blank">Sketch Palettes plugin</a>
        </li>
        <li>
            <a href="/public/images/GDS-global-colours.sketchpalette" title="GDS colour palette for the Sketch Palettes plugin" target="_blank">GDS colour palette for the Sketch Palettes plugin</a>
        </li>
    </ul>
</div>