// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.bold-text {
    font-weight: 700;
}
.padding-left-0 {
    padding-left: 0;
}
.grey-text {
    color: $secondary-text-colour;
}
.red-text {
    color: $red;
}
// Buttons

.button-primary{
    @include button($button-colour);
}
.button-secondary{
    @include button($grey-3);
}
.button-tertiary{
    @include button($red);
}

// pattern example images
.example_img {
    max-width: 100%;
}

// Pattern details

.pattern-details {
    border: 1px solid $border-colour;
    padding: 0px 20px;
}

// header border
.header-border {
    border-top: 2px solid $border-colour;
    padding-top: 10px;
}

// Other resources

.other_resources {
    //border: 1px solid $border-colour;
    padding: 0px 20px;
}

// colour swatches

.colour-swatch {
    border: 1px solid $border-colour;
    height: 60px;
}
.colour-swatch-blank {
    border: none;
    height: 60px;
}
.colour-swatch.text-colour {
    background: $text-colour;
}
.colour-swatch.secondary-text-colour {
    background: $secondary-text-colour;
}
.colour-swatch.link-colour {
    background: $link-colour;
}
.colour-swatch.link-hover-colour {
    background: $link-hover-colour;
}
.colour-swatch.link-visited-colour {
    background: $link-visited-colour;
}
.colour-swatch.page-colour {
    background: $page-colour;
}
.colour-swatch.border-colour {
    background: $border-colour;
}
.colour-swatch.panel-colour {
    background: $panel-colour;
}
.colour-swatch.highlight-colour {
    background: $highlight-colour;
}
.colour-swatch.button-colour {
    background: $button-colour;
}
.colour-swatch.button-hover-colour {
    background: $green;
}
.colour-swatch.focus-colour {
    background: $focus-colour;
}
.colour-swatch.govuk-blue {
    background: $govuk-blue;
}
.colour-swatch.error-colour {
    background: $error-colour;
}
.colour-swatch.black {
    background: $black;
}
.colour-swatch.grey-1 {
    background: $grey-1;
}
.colour-swatch.grey-2 {
    background: $grey-2;
}
.colour-swatch.grey-3 {
    background: $grey-3;
}
.colour-swatch.grey-4 {
    background: $grey-4;
}
.colour-swatch.purple {
    background: $purple;
}
.colour-swatch.pink {
    background: $pink;
}
.colour-swatch.mellow-red {
    background: $mellow-red;
}
.colour-swatch.yellow {
    background: $yellow;
}
.colour-swatch.turquoise {
    background: $turquoise;
}
.colour-swatch.mauve {
    background: $mauve;
}
.colour-swatch.baby-pink {
    background: $baby-pink;
}
.colour-swatch.orange {
    background: $orange;
}
.colour-swatch.green {
    background: $green;
}
.colour-swatch.light-blue {
    background: $light-blue;
}
.colour-swatch.fuschia {
    background: $fuschia;
}
.colour-swatch.red {
    background: $red;
}
.colour-swatch.brown {
    background: $brown;
}
.colour-swatch.grass-green {
    background: $grass-green;
}

// Spacings

.top_60 {
    margin-top: 60px;
}
.top_30 {
    margin-top: 30px;
}
.top_25 {
    margin-top: 25px;
}
.top_20 {
    margin-top: 20px;
}
.top_15 {
    margin-top: 15px;
}
.top_10 {
    margin-top: 10px;
}
.top_5 {
    margin-top: 5px;
}
@media (min-width: 641px)
{
    .top_0 {
        margin-top: 0px;
    }
}
@media (min-width: 0px) and (max-width: 640px)
{
    .top_0 {
        margin-top: 0px;
    }
}

.bottom_60 {
    margin-bottom: 60px;
}
.bottom_30 {
    margin-bottom: 30px;
}
.bottom_25 {
    margin-bottom: 25px;
}
.bottom_20 {
    margin-bottom: 20px;
}
.bottom_15 {
    margin-bottom: 15px;
}
.bottom_10 {
    margin-bottom: 10px;
}
.bottom_5 {
    margin-bottom: 5px;
}
.bottom_0 {
    margin-bottom: 0px;
}


.example {
    border: 1px solid $border-colour;
    padding: 30px;
}
.right_col_hr {
    //border-top: 1px solid $border-colour;
    //padding-top:10px;
}
.secondary {
    font-size: 14px;
    color: $secondary-text-colour;
}
.patterns_list td {
    line-height: 150%;
}
.header-logo {
    display: none;
}
@media (min-width: 0px) and (max-width: 640px)
{
    .hero_image_2, .hero_image_3 {
        display: none;
    }
}
@media (min-width: 641px) and (max-width: 830px)
{
    .hero_image_1, .hero_image_2, .hero_image_3 {
        width:117%;
    }
}

/* ************ */
/* Code styling */
code {
    font-family: "nta", Arial, sans-serif;
}