// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.bold-text {
    font-weight: 700;
}
.padding-left-0 {
    padding-left: 0;
}
.grey-text {
    color: $secondary-text-colour;
}
.red-text {
    color: $red;
}
.font-small {
    
}
.font-xsmall {
    font-size: 14px;
    line-height: 18px;
}
.font-xxsmall {
    font-size: 12px;
    line-height: 16px;
}



// Buttons

.button-primary{
    @include button($button-colour);
}
.button-secondary{
    @include button($grey-3);
}
.button-tertiary{
    @include button($red);
}

// pattern example images
.example_img {
    max-width: 100%;
}

// Pattern details

.pattern-details {
    border: 1px solid $border-colour;
    padding: 0px 20px;
}

// header border
.header-border {
    border-top: 2px solid $border-colour;
    padding-top: 10px;
}

// Other resources

.other_resources {
    //border: 1px solid $border-colour;
    padding: 0px 20px;
}

// colour swatches

.colour-swatch {
    border: 1px solid $border-colour;
    height: 60px;
}
.colour-swatch-blank {
    border: none;
    height: 60px;
}
.colour-swatch.text-colour {
    background: $text-colour;
}
.colour-swatch.secondary-text-colour {
    background: $secondary-text-colour;
}
.colour-swatch.link-colour {
    background: $link-colour;
}
.colour-swatch.link-hover-colour {
    background: $link-hover-colour;
}
.colour-swatch.link-visited-colour {
    background: $link-visited-colour;
}
.colour-swatch.page-colour {
    background: $page-colour;
}
.colour-swatch.border-colour {
    background: $border-colour;
}
.colour-swatch.panel-colour {
    background: $panel-colour;
}
.colour-swatch.highlight-colour {
    background: $highlight-colour;
}
.colour-swatch.button-colour {
    background: $button-colour;
}
.colour-swatch.button-hover-colour {
    background: $green;
}
.colour-swatch.focus-colour {
    background: $focus-colour;
}
.colour-swatch.govuk-blue {
    background: $govuk-blue;
}
.colour-swatch.error-colour {
    background: $error-colour;
}
.colour-swatch.black {
    background: $black;
}
.colour-swatch.grey-1 {
    background: $grey-1;
}
.colour-swatch.grey-2 {
    background: $grey-2;
}
.colour-swatch.grey-3 {
    background: $grey-3;
}
.colour-swatch.grey-4 {
    background: $grey-4;
}
.colour-swatch.purple {
    background: $purple;
}
.colour-swatch.pink {
    background: $pink;
}
.colour-swatch.mellow-red {
    background: $mellow-red;
}
.colour-swatch.yellow {
    background: $yellow;
}
.colour-swatch.turquoise {
    background: $turquoise;
}
.colour-swatch.mauve {
    background: $mauve;
}
.colour-swatch.baby-pink {
    background: $baby-pink;
}
.colour-swatch.orange {
    background: $orange;
}
.colour-swatch.green {
    background: $green;
}
.colour-swatch.light-blue {
    background: $light-blue;
}
.colour-swatch.fuschia {
    background: $fuschia;
}
.colour-swatch.red {
    background: $red;
}
.colour-swatch.brown {
    background: $brown;
}
.colour-swatch.grass-green {
    background: $grass-green;
}

// Spacings

.top_60 {
    margin-top: 60px;
}
.top_30 {
    margin-top: 30px;
}
.top_25 {
    margin-top: 25px;
}
.top_20 {
    margin-top: 20px;
}
.top_15 {
    margin-top: 15px;
}
.top_10 {
    margin-top: 10px;
}
.top_5 {
    margin-top: 5px;
}
@media (min-width: 641px)
{
    .top_0 {
        margin-top: 0px;
    }
}
@media (min-width: 0px) and (max-width: 640px)
{
    .top_0 {
        margin-top: 0px;
    }
}

.bottom_60 {
    margin-bottom: 60px;
}
.bottom_30 {
    margin-bottom: 30px;
}
.bottom_25 {
    margin-bottom: 25px;
}
.bottom_20 {
    margin-bottom: 20px;
}
.bottom_15 {
    margin-bottom: 15px;
}
.bottom_10 {
    margin-bottom: 10px;
}
.bottom_5 {
    margin-bottom: 5px;
}
.bottom_0 {
    margin-bottom: 0px;
}



.right_col_hr {
    //border-top: 1px solid $border-colour;
    //padding-top:10px;
}
.secondary {
    font-size: 14px;
    color: $secondary-text-colour;
}
.patterns_list td {
    line-height: 150%;
}
.header-logo {
    display: none;
}
@media (min-width: 0px) and (max-width: 640px)
{
    .hero_image_2, .hero_image_3 {
        display: none;
    }
}
@media (min-width: 641px) and (max-width: 830px)
{
    .hero_image_1, .hero_image_2, .hero_image_3 {
        width:117%;
    }
}

/* ******************* */
/* update logs styling */
.design-patterns-update-log td {
    font-size: 14px;
    vertical-align: top;
}
.design-patterns-update-log tr {
    border-top: 1px solid #BFC1C3;
}
.design-patterns-update-log p {
    margin-bottom: 3px;
}
.design-patterns-update-log h4 {
    margin-top: 15px;
    font-weight: bold;
}
.design-patterns-update-log h4.first {
    margin-top: 0;
}
.design-patterns-update-log-spacer {
    margin-bottom: 30px;
}

/* ******** */
/* examples */
.example {
    border: 1px solid $border-colour;
    padding: 40px 30px 30px 30px;
}
.example::before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    background: #bfc1c3;
    color: white;
}
.example {
    position: relative;
    overflow: hidden;
    border: 1px solid #bfc1c3;
    //margin-top: 15px;
    //margin-bottom: 15px;
    background: #fff;
}

/* *********************** */
/* Monitoring code pattern */
.caseMarker {
    display:inline-block;
    /*
    background-color:White;
    border: 1px solid Black;
    */
    width: auto;
    padding-right:5px;
}
.content
{
    float:left;
    height:inherit;
    width: auto;
    line-height:28px;
    vertical-align: center;
    padding-left: 10px;
}
.caseMarker-text
{
    float:left;
    background-color:#B10E1E;;
    color: white;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* *********************** */
/* Character count pattern */
#character_count {
    color: #6F777B;
    margin-top: 10px;
    text-align: right;
}
/* ************************************************** */
/* Character count pattern - validation error example */
#character_count_2 {
    color: #B10E1E;
    margin-top: 10px;
    text-align: right;
}

/* ************************************* */
/* Collapsible content container pattern */

hr.collapsible {
    height:3px;
    background: #0B0C0C;
    margin-bottom: 30px;
}
.collapsibleButton {
    width: auto;
    margin-top: -30px;
    float: right;
}
.collabsible-header {
    margin-top: 10px;
}
.collapsible-text
{
    float:left;
    background-color:#0B0C0C;;
    color: white;
    padding: 2px 10px 2px 6px;
    font-size: 14px;
    font-weight: light;
    line-height: 24px;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.collapsible-icon
{
    float:left;
    background-image: url("/public/images/design_patterns/collapsible-content-container/collapsible-content-container-icon.png");
    background-color:#f00;
    background-repeat: no-repeat;
    background-position: -250px -10px; 
    padding: 0;
    width: 35px;
    height: 28px;
    overflow: hidden;
}
#collabsible-content {
    display: none;
}
.collapsibleContentHover {
    cursor: pointer; 
}

/* ************************ */
/* Status indicator pattern */
.status-indicator-saved, .status-indicator-shared  {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding:1px 6px 0px 6px;
    height:22px;
}
.status-indicator-saved {
    color: #00823B;
    border: 2px solid #00823B;
}
.status-indicator-shared {
    color: #005EA5;
    border: 2px solid #005EA5;
}
.status-indicator-tick-only {
    display: inline-block;
    padding:2px 6px 1px 6px;
    height:22px;
}
.status-indicator-saved img, .status-indicator-shared img {
    padding-left:5px;
}
.status-indicator-tick-only img {
    padding: 0 5px;
}
/* *************************** */
/* Complete action bar pattern */
.complete-action-bar div.first {
    float: left;
}
.complete-action-bar div.second {
    float: right;
}
.complete-action-bar-link {
    font-size: 16px;
    text-decoration: none;
    padding-left:10px;
}

/* ******************************** */
/* Lists - sortable columns pattern */
#sortable-table th {
    color: #005EA5;
    text-decoration: underline;
}
#sortable-table th:hover {
    color: #2B8CC4;
    cursor: pointer;
}
#header1 img, #header2 img {
    padding-left:5px;
}
#sortable-table td a {
    text-decoration: none;
}
#sortable-table td img {
    padding-right:5px;
}

/* ****************************** */
/* Lists - expandable row pattern */
.expandable-rows th, .expandable-rows td {
    padding-left:10px;
    vertical-align:top;
}
.expandable-rows td p {
    margin-top:0;
    margin-bottom:0;
}
.expandable-rows tbody tr {
    cursor: pointer;
}
.expandable-rows tbody tr.rowOpen {
    background: #F8F8F8;
    border: 1px solid #BFC1C3;
    margin-left:-30px;
}
.expandable-rows td img {
    padding-right:5px;
}

/* Contact info pattern */
.contact-info p {
    margin-bottom: 0;
    line-height: 20px;
}
.contact-info .contact-info-small-text {
    font-size: 16px;
    line-height: 18px;
}
/* Descriptive text pattern */
.descriptive-text p {
    margin-top: 0;
}
.descriptive-text-label {
    font-size: 14px;
    margin-bottom: 0;
    color: #6F777B;
}
/* ******************** */
/* Basic filter pattern */
.filter-basic, .filter-basic:link {
    color: #0B0C0C;
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    display: inline-block;
    background-color: #DEE0E2;
    margin-left: 5px;
    border: 1px solid #DEE0E2;
}
.filter-basic:hover {
    color: #0B0C0C;
    text-decoration: none;
    border: 1px solid #0B0C0C;
}
.filter-basic:active {
    color: #0B0C0C;
    text-decoration: none;
}
.filter-basic:visited {
    color: #0B0C0C;
    text-decoration: none;
}
.filter-basic:focus {
    color: #0B0C0C;
    text-decoration: none;
    background-color: #DEE0E2;
    border: 3px solid #FFBF47;
}
.filter-basic-on, .filter-basic-on:link, .filter-basic-on:hover, .filter-basic-on:active, .filter-basic-on:visited, .filter-basic-on:focus  {
    color: #0B0C0C;
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-left: 5px;
    border: 1px solid #0B0C0C;
    pointer-events: none;
    cursor: default;
}
