{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Alpha and beta phase banners</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 14 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <h2 class="heading-medium top_0">Description</h2>
            
            <p>You have to use an alpha banner if your service is in alpha, and a beta banner if it’s in beta.</p>
            
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            

            <p class="top_15 bottom_10 bold">Alpha banner</p>
            
            <div class="example">{% include "includes/phase_banner_alpha.html" %}</div>
            
            <p class="top_30 bottom_10 bold">Beta banner</p>
            
            <div class="example">{% include "includes/phase_banner_beta.html" %}</div>

            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>
            
            <details>
                <summary><span class="summary">View HTML code snippets</span></summary>
                <div class="panel panel-border-narrow">
                    
                    <pre class="language-markup"><code class="language-markup">&lt;!-- Alpha phase banner --&gt;
&#123;&#37; include "includes/phase_banner_alpha.html" &#37;&#125;

&lt;!-- Beta phase banner --&gt;
&#123;&#37; include "includes/phase_banner_beta.html" &#37;&#125;</code></pre>

                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    
    document.getElementById("patternSource").innerHTML = "GOV.UK";
    
    document.getElementById("patternType").innerHTML = "Element";
    
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/alpha-beta-phase-banners/phase-banners-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "<a href='http://govuk-elements.herokuapp.com/alpha-beta-banners/' target='_blank' title='GOV.UK elements > Alpha and beta banners'>GOV.UK elements > Alpha and beta banners</a>";

</script>

{% endblock %}


