{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            
            <h1 class="heading-xlarge">Alpha and beta phase banners</h1>

            <p>You have to use an alpha banner if your service is in alpha, and a beta banner if it’s in beta.</p>
            
            <h2 class="heading-small bottom_5">Examples</h2>
            <div class="example bottom_10">
                <img src="/public/images/design_patterns/alpha-beta-phase-banners/alpha-banner.svg" width="100%">
            </div>
            <div class="example">
                <img src="/public/images/design_patterns/alpha-beta-phase-banners/beta-banner.svg" width="100%">
            </div>
            
            <h2 class="heading-small">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/alpha-beta-phase-banners/Alpha-beta-phase-banners.sketch">Sketch template</a>
                </li>
                <li>
                    <a href="http://govuk-elements.herokuapp.com/alpha-beta-banners/" target="_blank">GOV.UK elements > Alpha and beta banners</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            <div class="details bottom_30">
                <h2 class="heading-medium right_col_hr">Details</h2>
                <h4 class="heading-small">Pattern type</h4>
                <ul class="list list-bullet">
                    <li>GOV.UK</li>
                </ul>
                <h4 class="heading-small">Where is it used?</h4>
                <ul class="list list-bullet">
                    <li>Everywhere</li>
                </ul>
            </div>
            
            {% include "includes/other_resources.html" %}
        </div>
        
    </div>
    
</main>

{% endblock %}


