{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_0">Analysis and decisions screen</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 3 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This C2I UX team are currently researching, designing and testing this design pattern.</p>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>Additional information to be confirmed.</p>
            <!--
            <div class="padding-left-0">
                <h4 class="font-xsmall bold-text bottom_5">Lorem ipsum</h4>
                <div class="colour-swatch link-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#005EA5<br>$link-colour</div>
            </div>
            -->
            
            {% include "includes/pattern_resources.html" %}

        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";
    
    document.getElementById("patternType").innerHTML = "Component";
    
    document.getElementById("sketchLibrary").innerHTML = "To be confirmed";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}