{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Badge item</h1>
            <h2 class="heading-xsmall bottom_30 secondary">Last updated on 3 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2>
            <p>This menu starts as a single column and expands with a second column to the right.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2> 
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/badge-item/Badge_item_1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/badge-item/Badge_item_1.png" class="example_img" alt="example">
                </a>
            </div>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/Badge-item/badge_item_2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/badge-item/Badge_item_2.png" class="example_img" alt="example">
                </a>
            </div>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example three</p> 
            <div class="example">
                <a href="/public/images/design_patterns/Badge-item/badge_item_3.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/badge-item/Badge_item_3.png" class="example_img" alt="example">
                </a>
            </div>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example four</p>
            <div class="example">
                <a href="/public/images/design_patterns/Badge-item/badge_item_4.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/badge-item/Badge_item_4.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">The number shows how many items there. When there are no items a grey number is displayed</p>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>Linking text is not underlined.</p> 
            <div class="padding-left-0">
                <h4 class="font-xsmall bold-text bottom_5">Link text</h4>
                <div class="colour-swatch link-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_20">#005EA5<br>$link-colour</div>
            </div>
            <div class="padding-left-0">
                <h4 class="font-xsmall bold-text bottom_5">Link hover</h4>
                <div class="colour-swatch link-hover-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_20">#2B8CC4<br>$link-hover-colour</div>
            </div>
            <div class="padding-left-0">
                <h4 class="font-xsmall bold-text bottom_5">Link visited</h4>
                <div class="colour-swatch link-visited-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_5">#4C2C92<br>$link-visited-colour</div>
            </div>
                
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            {% include "includes/pattern_resources.html" %}

            <!--
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/badge-item/badge_item.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            -->
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";
    
    document.getElementById("patternType").innerHTML = "Element";
    
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/badge-item/badge_item.sketch' title='Sketch template for designers' title='Sketch template for designers'>Sketch template</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}