{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Breadcrumbs</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 4 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2>
            <p>The breadcrumb pattern is taken from <a href="https://github.com/alphagov/govuk_elements" target="_blank">GOV.UK elements GitHub repository</a>.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <div class="example top_0 bottom_10">
                <div class="breadcrumbs">
                  <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/{{ section }}/">Section one</a></li>
                    <li><a href="/{{ section }}/">Second section</a></li>
                    <li aria-current="page">Current page</li>
                  </ol>
                </div>

            </div>

            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>
            
            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
                    <pre class="language-markup"><code class="language-markup">&#123;&#37; include "includes/breadcrumb.html" &#37;&#125;</code></pre>

                    {% include "includes/code_snippet.html" %}
                    
                </div>
            </details>       

            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>Link text always black and underlined and non-linking text is black.</p> 
            <div class="padding-left-0">
                <h4 class="heading-small bold-text bottom_5">Text colour</h4>
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_20">#0B0C0C<br>$text-colour</div>
            </div>
            <h4 class="heading-small">Separator icon</h4>
            <p><img src="/public/images/separator.png"></p>
            <p><img src="/public/images/separator-2x.png"></p>
            <div class="padding-left-0">
                <div class="colour-swatch grey-2">&nbsp;</div>
                <div class="secondary top_5 bottom_20">#BFC1C3<br>$grey-2</div>
            </div>

            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}

            <!--
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/breadcrumbs/breadcrumbs.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
                <li>
                    <a href="https://github.com/alphagov/govuk_elements" target="_blank">GOV.UK elements GitHub repository</a>
                </li>
            </ul>
            -->
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "GOV.UK";
    
    document.getElementById("patternType").innerHTML = "Element";
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/breadcrumbs/breadcrumb-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "<a href='https://github.com/alphagov/govuk_elements' target='_blank'>GOV.UK elements GitHub repository</a>";
</script>

{% endblock %}