{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Buttons</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 3 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <!--<h2 class="heading-medium top_0">Description</h2>-->
            <p>We use a combination of GOV.UK and our own CPP styled buttons.</p>
            <p>Use buttons to move through a transaction, aim to use only one button per page where possible.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">GOV.UK buttons</h2>       
            <!-- Examples -->
            <div class="grid-row">

                <div class="column-half">
                    <p class="bold top_15 bottom_5 ">Primary button</p>
                    <div class="example">
                        <p>
                            <input class="button" type="submit" value="Primary">
                            <!--<input class="button-primarty" type="submit" value="Primary (CPP)">-->
                        </p>
                        <p>
                            <input class="button" type="submit" value="Primary" disabled="disabled" aria-disabled="true">
                        </p>
                    </div>
                </div>
                <div class="column-half">
                    <p class="bold top_15 bottom_5">Start button</p>
                    <div class="example">
                        <p>
                            <a class="button button-start" href="#" role="button">Start now</a>
                        </p>
                        <p>
                            <a class="button button-start" href="#" role="button" disabled="disabled">Start now</a>
                        </p>
                    </div>
                </div>
            </div>

            <h2 class="heading-medium bottom_5 top_60">CPP buttons</h2>       
            <!-- Examples -->
            <div class="grid-row">
                <div class="column-half">
                    <p class="bold top_15 bottom_5">Secondary button</p>
                    <div class="example">
                        <p>
                            <input class="button-secondary" type="submit" value="Secondary">
                        </p>
                        <p>
                            <input class="button-secondary" type="submit" value="Secondary" disabled="disabled" aria-disabled="true">
                        </p>
                    </div>
                </div>
                <div class="column-half">
                    <p class="bold top_15 bottom_5">Tertiary button</p>
                    <div class="example">
                        <p>
                            <input class="button-tertiary" type="submit" value="Tertiary">
                        </p>
                        <p>
                            <input class="button-tertiary" type="submit" value="Tertiary" disabled="disabled" aria-disabled="true">
                        </p>
                    </div>
                </div>
                
            </div>

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* CPP buttons */
.button-secondary {
    @include button($grey-3);
}
.button-tertiary {
    @include button($red);
}
</code></pre>

                    <p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>

                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
                    <pre class="language-markup"><code class="language-markup">&lt;!-- GOV.UK buttons --&gt;
&lt;input class="button-primary" type="submit" value="Primary"&gt;
&lt;a class="button button-start" href="#" role="button">Start now&lt;/a&gt;

&lt;!-- CPP buttons --&gt;
&lt;input class="button-secondary" type="submit" value="Secondary"&gt;
&lt;input class="button-tertiary" type="submit" value="Tertiary"&gt;
</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            {% include "includes/pattern_resources.html" %}

        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    
    document.getElementById("patternSource").innerHTML = "GOV.UK<br/>CPP";
    
    document.getElementById("patternType").innerHTML = "Element";
    
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/buttons/buttons-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "<a href='http://govuk-elements.herokuapp.com/buttons/' target='_blank' title='GOV.UK elements > Buttons'>GOV.UK elements > Buttons</a>";
    
</script>

{% endblock %}