{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Case marker</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Also knowns as a monitoring code.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Examples</p>
            <div class="example top_0 bottom_10">
                <div style="margin-bottom: 30px">
                    <div style="position: relative; background: #B10E1E; color: white; padding: 2px 6px; font-size: 14px; font-weight: bold; line-height: 24px; position: absolute">
                        Domestic violence
                    </div>
                </div>
                <div style="position: relative; padding-top: 10px; margin-bottom: 30px">
                    <div style="background: #B10E1E; color: white; padding: 2px 6px; height: 23px; font-size: 14px; font-weight: bold; line-height: 24px; position: absolute">
                        Youth offender
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">Examples of case marker.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">In use example one</p>
            <div class="example">
                <a href="/public/images/design_patterns/case-markers/Case_markers_example_1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/case-markers/Case_markers_example_1.png" class="example_img" alt="example">
                </a>
            </div>
             <p class="secondary top_10 bottom_30">Example showing case markers in a right column feature.</p>

            <!-- Example -->
            <p class="top_15 bottom_5 bold">In use example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/case-markers/Case_markers_example_2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/case-markers/Case_markers_example_2.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Example of case marker pattern used to display a "new" marker in a list.</p>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <div class="">
                <h5 class="font-small bold-text bottom_5">Font</h5>
                <p class="bottom_5">14px</p>
                <p class="bottom_5">Bold</p>
                <p>Sentence case</p>
            </div>
            <div class="">
                <h5 class="font-small bold-text top_20 bottom_5">Container</h5>
                <p class="bottom_5">Height: 23px</p>
                <p class="bottom_5">Padding left and right: 5 px</p>
                <p class="bottom_5">Text is centre vertically</p>
                <p>Space between case markers is 10 px</p>
            </div>
            <div class="">
                <h5 class="font-small bold-text bottom_5">Background colour</h5>
                <div class="colour-swatch red">&nbsp;</div>
                <div class="secondary top_5 bottom_20">#B10E1E<br>$red</div>
            </div>

            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/case-markers/case-markers.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}