{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_0">Case marker</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 8 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Also knowns as a monitoring code.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <!--<h2 class="heading-medium bottom_5 top_60">Examples</h2>  -->          
            <!-- Example -->
            <!--<p class="top_15 bottom_5 bold">Examples</p>-->
            <div class="example top_0 bottom_10">
                <div class="caseMarker">
                    <div class="caseMarker-text">Domestic violence</div>
                </div>
                <div class="caseMarker">
                    <div class="caseMarker-text">Youth offender</div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">Examples of case marker.</p>

            <!-- Example -->
            <div class="example">
                <input class="button" type="submit" value="Start pre-charge decision">
                <hr class="top_20 bottom_15" style="background-color: #005EA5; height:10px">
                <h3 class="header-small bold bottom_15">Case markers</h3>
                <div class="caseMarker">
                    <div class="caseMarker-text">Domestic violence</div>
                </div>
                <div class="caseMarker">
                    <div class="caseMarker-text">Youth offender</div>
                </div>
                <hr class="top_15 bottom_15" style="background-color: #005EA5; height:10px">
                <h3 class="header-small bold bottom_15">Timeline</h3>
                <div style="border: 1px solid #BFC1C3; line-height:48px; padding-left:10px; background-color: #F8F8F8">Today</div>
                <div style="border-left: 1px solid #BFC1C3; border-right: 1px solid #BFC1C3; border-bottom: 1px solid #BFC1C3; padding-left:10px; padding-top:15px; padding-bottom:15px"><a href="#" class="bold" style="text-decoration: none;">Police summary was amended by PC 3038 Bloggs</a><br>
                <span style="font-size:16px">9:30am</span>
                </div>

            </div>
             <p class="secondary top_10 bottom_30">Example showing case markers in a right column feature.</p>

            <!-- Example -->
            <div class="example">
                <div class="bottom_5"><a href="#">Victims, witnesses and statements/Statements/John Smith</a></div>
                <div class="bottom_5"><a href="#">Exhibits/DocumentsBaseballbat.jpg</a></div>
                <div class="bottom_5"><a href="#">Other material/Other/MG9 Page 2 of 8</a></div>
                <div class="caseMarker">
                    <div class="caseMarker-text">New</div>
                    <div class="content"><a href="#">Witness statement from John Smith</a></div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">Example of case marker pattern used to display a "new" marker in a list.</p>
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* Case marker (monitoring code) pattern */
.caseMarker {
    display:inline-block;
    /*
    background-color:White;
    border: 1px solid Black;
    */
    width: auto;
    padding-right:5px;
}
.content
{
    float:left;
    height:inherit;
    width: auto;
    line-height:28px;
    vertical-align: center;
    padding-left: 10px;
}
.caseMarker-text
{
    float:left;
    background-color:#B10E1E;;
    color: white;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;div class="caseMarker"&gt;
    &lt;div class="caseMarker-text"&gt;>Domestic violence&lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                </div>
            </details>

            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <div class="">
                <h5 class="font-small bold-text bottom_5">Font</h5>
                <p class="bottom_5">14px</p>
                <p class="bottom_5">Bold</p>
                <p>Sentence case</p>
            </div>
            <div class="">
                <h5 class="font-small bold-text top_20 bottom_5">Container</h5>
                <p class="bottom_5">Height: 23px</p>
                <p class="bottom_5">Padding left and right: 5 px</p>
                <p class="bottom_5">Text is centre vertically</p>
                <p>Space between case markers is 10 px</p>
            </div>
            <div class="">
                <h5 class="font-small bold-text bottom_5">Background colour</h5>
                <div class="colour-swatch red">&nbsp;</div>
                <div class="secondary top_5 bottom_20">#B10E1E<br>$red</div>
            </div>

            {% include "includes/pattern_resources.html" %}

        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
    <script>
        document.getElementById("patternSource").innerHTML = "CPP";
        
        document.getElementById("patternType").innerHTML = "Element";

        document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/case-markers/case-markers-library.zip' title='Sketch template for designers'>Sketch library</a>";
        document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

        document.getElementById("govukResource").innerHTML = "";

    </script>
    
</main>

{% endblock %}