{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Character count</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Description to be confirmed.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Before typing any characters - the character count is displayed as grey text with a count of 0.</p>
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Typing characters under the maximum count - the character count is displayed as grey text and shows the current character count including spaces and punctuation.</p>
            
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example three</p>
            <div class="example">
                <a href="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Typing characters within 20 characters of the maximum count - the character count text colour changes to red.</p>
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example four</p>
            <div class="example">
                <a href="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Typing characters over the maximum count - characther count text is red and changes to bold.</p>
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example five</p>
            <div class="example">
                <a href="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/alpha-beta-phase-banners/TBC.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Error state - Error text message says how many characters over the limit have been entered.</p>

            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>

            <h4 class="font-small bold-text bottom_5">Redline specification</h4>
            <div class="example top_15 bottom_30">
                <img src="/public/images/design_patterns/TBC.png" class="example_img" alt="TBC">
            </div>
            <div class="top_15 bottom_30">
                <h4 class="font-small bold-text bottom_10">Character count text</h4>
                <ul class="list list-bullet">
                    <li>Font-size: 16px</li>
                    <li>Aligned right with the text input box</li>
                    <li>Bold when over the maximum character count</li>
                </ul>
            </div>
            <div class="top_15 bottom_30">
                <h4 class="font-small bold-text top_30 bottom_10">Other details</h4>
                <ul class="list list-bullet">
                    <li>The default maximum character count is 500. This can be changed when added to a page.</li>
                    <li>When the character count is within 20 characters fo the maximum the text colour changes to red.</li>
                    <li>When the character count is at or over the maximum the character count text weight changes to bold.</li>
                    <li>Text input box is resizeable.</li>
                </ul>
            </div>
            <div class="top_15 bottom_30">
                <h4 class="font-small bold-text top_30 bottom_10">Character count text colours</h4>
                <p class="font-xsmall bottom_5 grey-text">Character count: 0 / 500</p>
                <div class="colour-swatch secondary-text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_20">#6F777B<br>$secondary-text-colour</div>
    
                <p class="font-xsmall bottom_5 red-text">Character count: 496 / 500</p>
                <h4 class="font-xsmall bold-text bottom_5 red-text">Character count: 506 / 500</h4>
                <div class="colour-swatch red">&nbsp;</div>
                <div class="secondary top_5 bottom_20">#B10E1E<br>$red</div>
            </div>
 
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/alpha-beta-phase-banners/TBC.sketch" title="Sketch template for designers">Sketch template for designers TBC</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}