{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Collapsible content container</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 13 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>A collapsible content contianer is varation of the <a href="http://govuk-elements.herokuapp.com/typography/#typography-hidden-text" target="_blank">GOV.UK hidden text (progressive disclosure)</a> design pattern. Think of it as a container that can include any number of other designs patterns and content that can be collapsed or revealed with a click.</p>
            

            
            
            
            
            
            
            
            
            
            
            
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <div class="example top_0 bottom_10">
                <div id="collapsible-content-container">
                    <div id="collapsible-header" class="collapsibleContentHover bottom_20" onclick="showHideContent()">
                        <hr class="collapsible">
                        <div class="collapsibleButton">
                            <div class="collapsible-icon"></div><div id="collapsibleText" class="collapsible-text">Show</div>
                        </div>
                        <div class="collabsible-header">
                            <p class="secondary bottom_0">This is example content</p>
                            <h3 class="heading-medium top_0">Here is more example content</h3>
                        </div>
                    </div>

                    <div id="collabsible-content" class="top_20">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                </div>


            </div>
            <!--<p class="secondary top_10 bottom_30">In this example the content is hidden.</p>-->

            
            
            
            
            
            
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">hr.collapsible {
    height:3px;
    background: #0B0C0C;
    margin-bottom: 30px;
}
.collapsibleButton {
    width: auto;
    margin-top: -30px;
    float: right;
}
.collabsible-header {
    margin-top: 10px;
}
.collapsible-text
{
    float:left;
    background-color:#0B0C0C;;
    color: white;
    padding: 2px 10px 2px 6px;
    font-size: 14px;
    font-weight: light;
    line-height: 24px;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.collapsible-icon
{
    float:left;
    background-image: url("/public/images/design_patterns/collapsible-content-container/collapsible-content-container-icon.png");
    background-color:#f00;
    background-repeat: no-repeat;
    background-position: -250px -10px; 
    padding: 0;
    width: 35px;
    height: 28px;
    overflow: hidden;
}
#collabsible-content {
    display: none;
}
.collapsibleContentHover {
    cursor: pointer; 
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View Javascript code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-js"><code class="language-js">function showHideContent() {
    var x = document.getElementById("collabsible-content");
    y = document.getElementById("collapsibleText");
    if (x.style.display === "block") {
        $('.collapsible-icon').css('background-position', '-250px -10px');
        x.style.display = "none";
        y.innerText = "Show";
    } else {
        $('.collapsible-icon').css('background-position', '-250px -55px');
        x.style.display = "block";
        y.innerText = "Hide";
    }
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;div id="collapsible-content-container"&gt;
    &lt;div id="collapsible-header" class="collapsibleContentHover bottom_20" onclick="showHideContent()"&gt;
        &lt;hr class="collapsible"&gt;
        &lt;div class="collapsibleButton"&gt;
            &lt;div class="collapsible-icon"&gt;&lt;/div&gt;&lt;div id="collapsibleText" class="collapsible-text"&gt;Show&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="collabsible-header"&gt;
            &lt;p class="secondary bottom_0"&gt;This is example content&lt;/p&gt;
            &lt;h3 class="heading-medium top_0"&gt;Here is more example content&lt;/h3&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div id="collabsible-content" class="top_20">
        &lt;p&gt;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.&lt;/p&gt;
        &lt;p&gt;Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?&lt;/p&gt;
        &lt;p&gt;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>

            
            
            
            
            
            
            
            
            
            
            

            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <!--
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-1.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">In this example the content is hidden.</p>
            
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-2.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">In this example the content is visible.</p>
            
            <p class="top_15 bottom_5 bold">Example three</p>
            <div class="example">
                <a href="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-3.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-3.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Headblock text can wrap as shown in this example.</p>
            -->
            
            <!-- ********************* -->
            <!-- Redline specification -->
            <!-- ********************* -->
            <!--
            <h2 class="heading-medium bottom_5 top_60 bottom_15">Redline specification</h2>            
            <div class="example top_15">
                <a href="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-redline.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-redline.png" class="example_img" alt="example">
                </a>
            </div>
            -->

            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Headblock text</h4>
            <p class="top_5 bottom_0"><span class="bold">Small text</span><br>
            Font-size: 19px<br>
            Line-height: 25px<br>
            Font-weight: normal<br>
            Colour:</p>
            <div class="padding-left-0">
                <div class="colour-swatch secondary-text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#6F777B<br>$secondary-text-colour</div>
            </div>
            
            <p class="top_15 bottom_0"><span class="bold">Large text</span><br>
            Font-size: 24px<br>
            Line-height: 30px<br>
            Font-weight: bold<br>
            Colour:</p>
            <div class="padding-left-0">
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">Show/hide controls</h4>
            
            <p class="top_5 bottom_0"><span class="bold">Typography</span><br>
            Font-size: 19px<br>
            Line-height: 25px<br>
            Font-weight: normal<br>
            Colour:</p>
            <div class="padding-left-0">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>

            <p class="top_15 bottom_10"><span class="bold">Icons</span><br>
            The arrow icon is a reversed version on the folowing GOV.UK icons:<br>
            govuk_frontend_toolkit/images/accordian-arrow.png<br>
            govuk_frontend_toolkit/images/accordian-arrow-2x.png</p>
            <a href="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-icon.png" target="_blank" title="View full-size example">
                <img src="/public/images/design_patterns/collapsible-content-container/collapsible-content-container-icon.png" class="example_img" alt="example">
            </a>

            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    
    document.getElementById("patternSource").innerHTML = "CPP";
    
    document.getElementById("patternType").innerHTML = "Element";
    
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/collapsible-content-container/collapsible-content-container-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
</script>

{% endblock %}


