{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Collapsible's</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>COMING SOON</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/alpha-beta-phase-banners/alpha-phase-banner.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/alpha-beta-phase-banners/alpha-phase-banner.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Secondary text for the example shown.</p>
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/alpha-beta-phase-banners/beta-phase-banner.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/alpha-beta-phase-banners/beta-phase-banner.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Secondary text for the example shown.</p>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="padding-left-0">
                <h4 class="font-xsmall bold-text bottom_5">Lorem ipsum</h4>
                <div class="colour-swatch link-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#005EA5<br>$link-colour</div>
            </div>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/alpha-beta-phase-banners/Alpha-beta-phase-banners.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
                <li>
                    <a href="http://govuk-elements.herokuapp.com/alpha-beta-banners/" target="_blank" title="GOV.UK elements > Alpha and beta banners">GOV.UK elements > Alpha and beta banners</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            <div class="pattern-details bottom_30">
                <h2 class="heading-small">Pattern type</h2>
                <p>GOV.UK</p>

                <h2 class="heading-small">Where is it used?</h2>
                <p>Everywhere</p>
            </div>
            
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}


