{% extends "layout.html" %}

{% block page_title %}
  CJS Crime Programm design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Colour</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 30 January 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>We use the <a href="http://govuk-elements.herokuapp.com/colour/" target="_blank">GOV.UK colour pallete</a>.</p>
            
            <!-- ************ -->
            <!-- BASE COLOURS -->
            <!-- ************ -->
                            
            <h2 class="heading-medium bottom_20 top_60">Base colours</h2>

            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Text</h4>
                    <div class="colour-swatch text-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#0B0C0C<br>$text-colour</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Secondary text</h4>
                    <div class="colour-swatch secondary-text-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#6F777B<br>$secondary-text-colour</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Link text</h4>
                    <div class="colour-swatch link-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#005EA5<br>$link-colour</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Link hover</h4>
                    <div class="colour-swatch link-hover-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#2B8CC4<br>$link-hover-colour</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Link visited</h4>
                    <div class="colour-swatch link-visited-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#4C2C92<br>$link-visited-colour</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Page</h4>
                    <div class="colour-swatch page-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#FFFFFF<br>$page-colour</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Borders</h4>
                    <div class="colour-swatch border-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#BFC1C3<br>$border-colour</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Panel background</h4>
                    <div class="colour-swatch panel-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#DEE0E2<br>$panel-colour</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Highlight</h4>
                    <div class="colour-swatch highlight-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#F8F8F8<br>$highlight-colour</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Buttons</h4>
                    <div class="colour-swatch button-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#00823B<br>$button-colour</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Button hover</h4>
                    <div class="colour-swatch button-hover-colour">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#006435<br>$green</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Focus</h4>
                    <div class="colour-swatch focus-colour">&nbsp;</div>
                    <div class="secondary top_5">#FFBF47<br>$focus-colour</div>
                </div>
            </div>

            <!-- ************** -->
            <!-- STATUS COLOURS -->
            <!-- ************** -->
            <h2 class="heading-medium bottom_20 top_60">Status colours</h2>

            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">GOV.UK blue</h4>
                    <div class="colour-swatch govuk-blue">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#005EA5<br>$govuk-blue</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Errors</h4>
                    <div class="colour-swatch error-colour">&nbsp;</div>
                    <div class="secondary top_5">#B10E1E<br>$error-colour</div>
                </div>
            </div>

            <!-- ****************** -->
            <!-- GREYSCALE PALLETTE -->
            <!-- ****************** -->
            <h2 class="heading-medium bottom_20 top_60">Greyscale pallette</h2>

            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Black</h4>
                    <div class="colour-swatch black">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#0B0C0C<br>$black</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Grey 1</h4>
                    <div class="colour-swatch grey-1">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#6F777B<br>$grey-1</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Grey 2</h4>
                    <div class="colour-swatch grey-2">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#BFC1C3<br>$grey-2</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Grey 3</h4>
                    <div class="colour-swatch grey-3">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#DEE0E2<br>$grey-3</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Grey 4</h4>
                    <div class="colour-swatch grey-4">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#F8F8F8<br>$grey-4</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">&nbsp;</h4>
                    <div class="colour-swatch">&nbsp;</div>
                    <div class="secondary top_5">&nbsp;<br>&nbsp;</div>
                </div>
            </div>

            <!-- ***************** -->
            <!-- EXTENDED PALLETTE -->
            <!-- ***************** -->
            <h2 class="heading-medium bottom_20 top_60">Extended pallette</h2>

            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Purple</h4>
                    <div class="colour-swatch purple">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#2E358B<br>$purple</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Pink</h4>
                    <div class="colour-swatch pink">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#D53880<br>$pink</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Mellow red</h4>
                    <div class="colour-swatch mellow-red">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#DF3034<br>$mellow-red</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Yellow</h4>
                    <div class="colour-swatch yellow">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#FFBF47<br>$yellow</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Turquoise</h4>
                    <div class="colour-swatch turquoise">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#28A197<br>$turquoise</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Mauve</h4>
                    <div class="colour-swatch mauve">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#6F72AF<br>$mauve</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Baby pink</h4>
                    <div class="colour-swatch baby-pink">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#F499BE<br>$baby-pink</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Orange</h4>
                    <div class="colour-swatch orange">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#F47738<br>$orange</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Green</h4>
                    <div class="colour-swatch green">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#006435<br>$green</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Light blue</h4>
                    <div class="colour-swatch light-blue">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#2B8CC4<br>$light-blue</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Fuschia</h4>
                    <div class="colour-swatch fuschia">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#912B88<br>$fuschia</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Red</h4>
                    <div class="colour-swatch red">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#B10E1E<br>$red</div>
                </div>
            </div>   
            <div class="grid-row">
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Brown</h4>
                    <div class="colour-swatch brown">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#B58840<br>$brown</div>
                </div>
                <div class="column-one-half">
                    <h4 class="font-xsmall bold-text bottom_5">Grass green</h4>
                    <div class="colour-swatch grass-green">&nbsp;</div>
                    <div class="secondary top_5 bottom_20">#85994B<br>$grass-green</div>
                </div>
            </div>
                        
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="http://govuk-elements.herokuapp.com/colour/" target="_blank" title="GOV.UK elements > Alpha and beta banners">GOV.UK elements > Colour</a>
                </li>
                <li>
                    <a href="/public/images/GDS-global-colours.sketchpalette" title="GDS colour palette for the Sketch Palettes plugin" target="_blank">GDS colour palette for the Sketch Palettes plugin</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "GOV.UK";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}