{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Confirmation banner</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 14 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>When a task has been completed successfully and the user is returned to a case content screen this confirmation banner will be displayed underneath the <a href="persistant-info-banners.html" >persistent info banner</a> near the top of the screen.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->

            <div class="example top_0 bottom_10">
                <div class="confirmation-banner">
                    <div class="confirmation-banner-tick">
                        <img src="/public/images/design_patterns/confirmation-banner/confirmation-banner-tick-icon.png">
                    </div>
                    <div class="confirmation-banner-text">Your changes have been saved</div>
                </div>
            </div>
            <p class="secondary top_10">This example of a typical confirmatino banner.</p>
            
            <div class="example top_30 bottom_10">
                <div class="confirmation-banner bottom_30">
                    <div class="confirmation-banner-tick">
                        <img src="/public/images/design_patterns/confirmation-banner/confirmation-banner-tick-icon.png">
                    </div>
                    <div class="confirmation-banner-text">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore</div>
                </div>

                <div class="confirmation-banner">
                    <div class="confirmation-banner-tick">
                        <img src="/public/images/design_patterns/confirmation-banner/confirmation-banner-tick-icon.png">
                    </div>
                    <div class="confirmation-banner-text">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
                </div>

            </div>
            <p class="secondary top_10">These examples show text wrapping behaviour.</p>

            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>
            
            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
                    <pre class="language-markup"><code class="language-css">/* CONFIRMATION BANNER */
.confirmation-banner {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    background: #28A197;
    min-height: 40px;
}
.confirmation-banner-tick {
    float: left;
    margin-right: 10px;
    margin-left:10px;
    margin-top:6px;
}
.confirmation-banner-text {
    padding-top: 11px;
    padding-bottom:9px;
    padding-right:10px;
    padding-left: 40px;
}</code></pre>

                    {% include "includes/code_snippet.html" %}
                    
                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
                    <pre class="language-markup"><code class="language-markup">&lt;div class="confirmation-banner"&gt;
    &lt;div class="confirmation-banner-tick"&gt;
        &lt;img src="/public/images/design_patterns/confirmation-banner/confirmation-banner-tick-icon.png"&gt;
    &lt;/div&gt;
    &l;t;div class="confirmation-banner-text">Your changes have been saved&lt;/div&gt;
&lt;/div&gt;</code></pre>

                    {% include "includes/code_snippet.html" %}
                    
                </div>
            </details>       

            <!-- ********************* -->
            <!-- Redline specification -->
            <!-- ********************* -->
            <h2 class="heading-medium bottom_5 top_60">Redline specification</h2>            
            <!-- Example -->
            <div class="example top_0 bottom_10">
                <p>
                    <a href="/public/images/design_patterns/confirmation-banner/confirmation-banner-redline.png" target="_blank" title="View full-size example">
                        <img src="/public/images/design_patterns/confirmation-banner/confirmation-banner-redline.png" class="example_img" alt="example">
                    </a>
                </p>
                <p class="bottom_0">
                    <a href="/public/images/design_patterns/confirmation-banner/confirmation-banner-placement.png" target="_blank" title="View full-size example">
                        <img src="/public/images/design_patterns/confirmation-banner/confirmation-banner-placement.png" class="example_img" alt="example">
                    </a>
                </p>
            </div>
            

            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p class="bold bottom_5">Typography</p>
            <p class="bottom_0">Font-size: 16px<br>
            Font-weight: bold<br>
            Colour:</p>
            <div class="padding-left-0">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            <p class="bold top_20 bottom_5">Banner background</p>
            <p class="bottom_0">Colour:</p>
            <div class="padding-left-0">
                <div class="colour-swatch turquoise">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#28A197<br>$turquoise</div>
            </div>
            <p class="bold top_20 bottom_5">Icon</p>
            <p class="bottom_0">Tick icon is 20x20 px</p>

            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";
    
    document.getElementById("patternType").innerHTML = "Element";
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/confirmation-banner/confirmation-banner-pattern.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "";
</script>

{% endblock %}


