{% extends "layout.html" %}

{% block page_title %}
  CJS Crime Programm design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Content loading</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>The CJS CPP framework and architecture means that we may be looking at indeterminate content load times measuring in seconds (not milliseconds) or longer. It is recommended that we indicate something is happening to our users if content takes longer than 1.5 seconds to load.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/content-loading/content-loading-1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/content-loading/content-loading-1.png" class="example_img" alt="example">
                </a>
            </div>
            
            <!-- ********* -->
            <!-- Placement -->
            <!-- ********* -->
            <h2 class="heading-medium bottom_15 top_60">Placement</h2>            
            <!-- Example -->
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/content-loading/content-loading-placement.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/content-loading/content-loading-placement.png" class="example_img" alt="example">
                </a>
            </div>
            

            <!-- ********************* -->
            <!-- Redline specification -->
            <!-- ********************* -->
            <h2 class="heading-medium bottom_15 top_60">Redline specification</h2>            
            <!-- Example -->
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/content-loading/content-loading-redline.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/content-loading/content-loading-redline.png" class="example_img" alt="example">
                </a>
            </div>
            

            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>Page loading message is centreed in the masked area.</p>
            <p class="bottom_10">Content is masked with background colour #FFFFFF ($page-colour) with 50% opacity.</p>
            <div class="bottom_30">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            <p class="bottom_10">Border is 1 px #6F777B ($grey-1)</p>
            <div class="bottom_30">
                <div class="colour-swatch grey-1">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#6F777B<br>$grey-1</div>
            </div>

            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/content-loading/content-loading.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}


