{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Descriptive label</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>A small text label just above a persons name. Only to be used sparingly in certain circumstances.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
             <div class="grid-row">
                <div class="column-one-half">
                    <!-- Example -->
                    <p class="top_15 bottom_5 bold">Example one</p>
                    <div class="example top_0 bottom_10">
                        <a href="/public/images/design_patterns/descriptive-label/descriptive-label-1.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/descriptive-label/descriptive-label-1.png" class="example_img" alt="example">
                        </a>
                    </div>
                    <p class="secondary top_10 bottom_30">The descriptive label in this example is "Defendent 1".</p>
                    <!-- Example -->
                    <p class="top_15 bottom_5 bold">Example two</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/descriptive-label/descriptive-label-2.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/descriptive-label/descriptive-label-2.png" class="example_img" alt="example">
                        </a>
                    </div>
                    <p class="secondary top_10">The descriptive label in this example is "Suspect".</p>
                    <!-- Example -->
                    <p class="top_15 bottom_5 bold">Example three</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/descriptive-label/descriptive-label-3.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/descriptive-label/descriptive-label-3.png" class="example_img" alt="example">
                        </a>
                    </div>
                    <p class="secondary top_10">The descriptive label in this example is "Hearing 2".</p>
                 </div>

                 <div class="column-one-half">
                    <!-- Example -->
                    <p class="top_15 bottom_5 bold">Example four</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/descriptive-label/descriptive-label-4.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/descriptive-label/descriptive-label-4.png" class="example_img" alt="example">
                        </a>
                    </div>
                    <p class="secondary top_10">There are two descriptive labels in this example - "Hearing 1" and "Hearin 2".</p>
                </div>
            </div>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-xsmall bold-text bottom_5">Typography</h4>
            <p>Font size: 14px<br>
            Font-weight: light<br>
            Text formatting is sentence case</p>
            <div class="padding-left-0">
                <h4 class="font-xsmall bold-text bottom_5">Text colour is </h4>
                <div class="colour-swatch secondary-text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#6F777B<br>$secondary-text-colour</div>
            </div>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/descriptive-label/descriptive-label.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}


