{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            
            <h1 class="heading-xlarge">Dialog box</h1>
            
        </div>
        
        <div class="column-two-thirds">            

            <div class="pattern-details">
                <h2 class="heading-small">Pattern type</h2>
                <p>CJS</p>

                <h2 class="heading-small">Where is it used?</h2>
                <p>C2I</p>
            </div>

            <h2 class="heading-small top_60">Description</h2>
            <p>Description to be confirmed - lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut consectetur dui. Etiam tincidunt luctus neque, eu placerat libero varius a. Fusce tempor maximus malesuada. Aenean dapibus nibh ex, et efficitur massa vehicula maximus. Integer vitae suscipit urna. Nunc a pellentesque elit. Aenean nec vulputate quam, at mollis felis. Etiam ultrices tortor ac maximus convallis. Vestibulum erat massa, faucibus vel mi at, placerat convallis eros. Aliquam sit amet dui quis felis placerat maximus ut quis tortor.</p> 
            
            <h2 class="heading-small bottom_5">Examples</h2>
            <p class="top_15 bottom_5">Optional text to be confirmed</p>
            <div class="example">
                <img src="/public/images/design_patterns/image_tbc.svg" width="100%">
            </div>
            <p class="secondary top_10 bottom_30">Optional text to be confirmed</p>

            <p class="top_15 bottom_5">Optional text to be confirmed</p>
            <div class="example">
                <img src="/public/images/design_patterns/image_tbc.svg" width="100%">
            </div>
            <p class="secondary top_10 bottom_30">Optional text to be confirmed</p>
    
            <p></p>
            
            <p>Nam rhoncus aliquet diam, ultricies iaculis mauris tempor sed. Duis sed ligula erat. Etiam rutrum eleifend orci, porta posuere nisl aliquam vel. Nam lacus magna, mattis id finibus eget, aliquam vitae magna. In sed facilisis ex. Morbi vulputate justo non turpis condimentum bibendum. Donec consequat felis nec risus tempor, at iaculis eros sagittis. Donec ut ligula in quam efficitur sagittis. Nullam accumsan nulla et tortor finibus accumsan. Praesent gravida tempus lacus.</p>

            <p>Donec rhoncus vel arcu sit amet posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum aliquet placerat rutrum. Curabitur sagittis arcu vitae pharetra molestie. Mauris elementum viverra egestas. Curabitur id semper ex. Suspendisse non urna ac tortor tristique varius vel vitae orci.</p> 

            <h2 class="heading-small top_30">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="">Link to Sketch template TBC</a>
                </li>
                <li>
                    <a href="http://govuk-elements.herokuapp.com/" target="_blank">GOV.UK elements > TBC</a>
                </li>
            </ul>

        </div>
        
        <div class="column-one-third">
            
            <!--
            <div class="details bottom_30">
                <h2 class="heading-medium right_col_hr">Details</h2>
                <h4 class="heading-small">Pattern type</h4>
                    <ul class="list list-bullet">
                        <li>GOV.UK</li>
                        <li>CJS TBC</li>
                    </ul>
                <h4 class="heading-small">Where is it used?</h4>
                    <ul class="list list-bullet">
                        <li>Everywhere</li>
                        <li>ATCM</li>
                        <li>C2I</li>
                        <li>I2T</li>
                        <li>IdAM</li>
                    </ul>
            </div>
            -->
            
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}


