{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Digit box</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 23 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This pattern was originally created for IdAM to display digit content only. For example, a numerical code for multi-factor authentication code or a mobile number.</p>
            
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <!-- Digit box example 1 -->
                <p class="digit-box">4637</p>
            </div>
            
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example top_0 bottom_10">
                <!-- Digit box example 2 -->
                <p class="digit-box">07700900753</p>
            </div>

            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* Digit box pattern */
.digit-box {
    background-color: #6F777B;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    padding: 15px 20px;
    display: inline-block;
    margin: 15px 0;
}
</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;!-- Digit box example 1 --&gt;
&lt;p class="digit-box">4637&lt;/p&gt;

&lt;!-- Digit box example 2 --&gt;
&lt;p class="digit-box">07700900753&lt;/p&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>

            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>Text is short and does not wrap.</p>
            <h4 class="font-small bold-text bottom_5">Typography</h4>
            <p>Font size: 36px<br>
            Font weight: Bold</p>
            <div class="">
                <h4 class="font-small bold-text bottom_5">Text colour</h4>
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            <div class="top_20">
                <h4 class="font-small bold-text bottom_5">Panel colour</h4>
                <div class="colour-swatch secondary-text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#6F777B<br>$secondary-text-colour</div>
            </div>
            
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>

    document.getElementById("patternSource").innerHTML = "CPP";

    document.getElementById("patternType").innerHTML = "Element";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/digit-box/digit-box-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}


