{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Event log</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 16 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This component is primarily used for Release 2 - Crown Court Resulting.</p>
            <p>Further details to be confirmed by the Release 2 UX team.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/event-log/event-log-1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/event-log/event-log-1.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">This example is for logging th start of an event.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/event-log/event-log-2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/event-log/event-log-2.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">This example show part of the process of logging an additional event.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example three</p>
            <div class="example">
                <a href="/public/images/design_patterns/event-log/event-log-3.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/event-log/event-log-3.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">This example show part of the process of logging an additional event.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example four</p>
            <div class="example">
                <a href="/public/images/design_patterns/event-log/event-log-4.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/event-log/event-log-4.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">This example show part of the process of logging an additional event.</p>
            
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">General typography</h4>
            <p>Only the 'Cancel' link is underlined - all other linking text is not underlined.</p>
            
            <h4 class="font-small bold-text bottom_5">Header text</h4>
            <p>Font-size: 24px<br>
            Font-weight: bold</p>
            
            <h4 class="font-small bold-text bottom_5">Sub-header text</h4>
            <p>Font-size: 19px<br>
            Font-weight: bold</p>
            
            <h4 class="font-small bold-text bottom_5">Date and time entry text</h4>
            <p>Font-size: 19px<br>
            Font-weight: normal</p>
            
            <h4 class="font-small bold-text bottom_5">Other text</h4>
            <p>Font-size: 16px<br>
            Font-weight: normal</p>
            
            <div class="">
                <h4 class="font-small bold-text bottom_5">Timestamp text</h4>
                <p class="bottom_0">Font-size: 19px<br>
                font-weight: bold<br>
                Colour:</p>
                <div class="colour-swatch secondary-text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#6F777B<br>$secondary-text-colour</div>
            </div>

            <h4 class="font-small bold-text top_15 bottom_5">Buttons and cancel</h4>
            <p>Please see the <a href="buttons.html" target="_self" title="Button pattern">button pattern</a> for details.</p>
            
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
    <script>

        document.getElementById("patternSource").innerHTML = "CPP";

        document.getElementById("patternType").innerHTML = "Component";

        document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/event-log/event-log.sketch' title='Sketch template for designers'>Sketch template</a>";
        document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

        document.getElementById("govukResource").innerHTML = "";

    </script>

</main>

{% endblock %}