{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Filters - basic</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 19 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This filter pattern can be used with list to narrow down the items displayed.</p>
            <p>Avoid stacking filters.</p>
   
            <div class="example">
                <a class="filter-basic" href="#">Filter</a>
            </div>
            <p class="secondary top_10 bottom_30">This is a basic filter that has not been selected.</p>

            <div class="example">
                <a class="filter-basic-on" href="#">Filter</a>
            </div>
            <p class="secondary top_10 bottom_30">This is a basic filter that has been selected.</p>

            <div class="example">

                <a id="filterAllUsers" class="filter-basic-on" onclick="basicFilters(BasicFilterTable, 'ALL')" href="javascript: void(0)">All users</a>
                <a id="filterActiveUsers" class="filter-basic" onclick="basicFilters(BasicFilterTable, 'ACTIVE')" href="javascript: void(0)">Active</a>
                <a id="filterPendingUsers" class="filter-basic" onclick="basicFilters(BasicFilterTable, 'PENDING')" href="javascript: void(0)">Pending</a>

                <table id="BasicFilterTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Organisation</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pending"><a href="#">SMITH John</a></td>
                            <td>Connell Associates</td>
                            <td>Pending</td>
                        </tr>
                        <tr>
                            <td class="active"><a href="#">WALKER Johnny</a></td>
                            <td>Cobleys LLP</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td class="pending"><a href="#">KADINSKI Paul John</a></td>
                            <td>James Murray Solicitors</td>
                            <td>Pending</td>
                        </tr>
                   </tbody>
                </table>
            </div>
            <p class="secondary top_10">This example shows the filters in use.</p>

            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* FILTERS - BASIC PATTERN */
.filter-basic, .filter-basic:link {
    color: #0B0C0C;
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    display: inline-block;
    background-color: #DEE0E2;
    margin-left: 5px;
    border: 1px solid #DEE0E2;
}
.filter-basic:hover {
    color: #0B0C0C;
    text-decoration: none;
    border: 1px solid #0B0C0C;
}
.filter-basic:active {
    color: #0B0C0C;
    text-decoration: none;
}
.filter-basic:visited {
    color: #0B0C0C;
    text-decoration: none;
}
.filter-basic:focus {
    color: #0B0C0C;
    text-decoration: none;
    background-color: #DEE0E2;
    border: 3px solid #FFBF47;
}
.filter-basic-on, .filter-basic-on:link, .filter-basic-on:hover, .filter-basic-on:active, .filter-basic-on:visited, .filter-basic-on:focus  {
    color: #0B0C0C;
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-left: 5px;
    border: 1px solid #0B0C0C;
    pointer-events: none;
    cursor: default;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View Javascript code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-js"><code class="language-js">/* FILTERS - BASIC PATTERN */
a  = "pending";
b  = "active";

function basicFilters(tableObj, which) {

    var rows = $(tableObj).find('tr:gt(0)');

    rows.show();

    if(which == 'ACTIVE') {
        document.getElementById("filterAllUsers").className = "filter-basic";
        document.getElementById("filterActiveUsers").className = "filter-basic-on";
        document.getElementById("filterPendingUsers").className = "filter-basic";
        if(rows.is(':hidden')) {
            rows.has('td.'+a).show();
        } else {
            rows.has('td.'+a).hide();
        }
    } else if(which == 'PENDING') {
        document.getElementById("filterAllUsers").className = "filter-basic";
        document.getElementById("filterActiveUsers").className = "filter-basic";
        document.getElementById("filterPendingUsers").className = "filter-basic-on";
        if(rows.is(':hidden')) {
            rows.has('td.'+b).show();
        } else {
            rows.has('td.'+b).hide();
        }
    } else if(which == 'ALL') {
        document.getElementById("filterAllUsers").className = "filter-basic-on";
        document.getElementById("filterActiveUsers").className = "filter-basic";
        document.getElementById("filterPendingUsers").className = "filter-basic";
        if(rows.is(':hidden')) {
            rows.show();                                                        
        } else {
            //rows.hide();
        }
    }
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;a id="filterAllUsers" class="filter-basic-on" onclick="basicFilters(BasicFilterTable, 'ALL')" href="javascript: void(0)"&gt;All users&lt;/a&gt;
&lt;a id="filterActiveUsers" class="filter-basic" onclick="basicFilters(BasicFilterTable, 'ACTIVE')" href="javascript: void(0)"&gt;Active&lt;/a&gt;
&lt;a id="filterPendingUsers" class="filter-basic" onclick="basicFilters(BasicFilterTable, 'PENDING')" href="javascript: void(0)"&gt;Pending&lt;/a&gt;

&lt;table id="BasicFilterTable"&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Organisation&lt;/th&gt;
            &lt;th&gt;Status&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="pending"&gt;&lt;a href="#"&gt;SMITH John&lt;/a&gt;&lt;/td&gt;
            &lt;td&gt;Connell Associates&lt;/td&gt;
            &lt;td&gt;Pending&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="active"&gt;&lt;a href="#"&gt;WALKER Johnny&lt;/a&gt;&lt;/td&gt;
            &lt;td&gt;Cobleys LLP&lt;/td&gt;
            &lt;td&gt;Active&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="pending"&gt;&lt;a href="#"&gt;KADINSKI Paul John&lt;/a&gt;&lt;/td&gt;
            &lt;td&gt;James Murray Solicitors&lt;/td&gt;
            &lt;td&gt;Pending&lt;/td&gt;
        &lt;/tr&gt;
   &lt;/tbody&gt;
&lt;/table&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>
            
            
            
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Typography</h4>
            <p class="bottom_5">Font-size: 19px<br>
            Font-weight: normal</p>
            <p class="bottom_5">Text is sentace case</p>
            <div class="">
                <h4 class="font-small bottom_5">Text colour:</h4>
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>
            <div class="">
                <h4 class="font-small bold-text top_30 bottom_5">Background colours</h4>
                <div class="colour-swatch panel-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_15">#DEE0E2<br>$panel-colour</div>
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            <div class="">
                <h4 class="font-small bold-text top_30 bottom_5">Border colours</h4>
                <div class="colour-swatch black">&nbsp;</div>
                <div class="secondary top_5 bottom_15">#0B0C0C<br>$black</div>
                <div class="colour-swatch focus-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFBF47<br>$focus-colour</div>
            </div>

            
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

    <script>

        document.getElementById("patternSource").innerHTML = "CPP";

        document.getElementById("patternType").innerHTML = "Element";

        document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/filter-basic/filter-basic-library.zip' title='Sketch library for designers'>Sketch library</a>";
        document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

        document.getElementById("govukResource").innerHTML = "";

    </script>

{% endblock %}