{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Filters - advanced</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 16 February 2018</h2>
       </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This pattern is currently being worked on by the ATCM UX team.</p>
            <p>Further details to be confirmed.</p>
            
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <!--
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>To be confirmed.</p>
            -->
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
    <script>

        document.getElementById("patternSource").innerHTML = "CPP";

        document.getElementById("patternType").innerHTML = "Element<br/>Component";

        document.getElementById("sketchLibrary").innerHTML = "To be confirmed";
        document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

        document.getElementById("govukResource").innerHTML = "";

    </script>
</main>

{% endblock %}