{% extends "layout.html" %}

{% block page_title %}
  CJS Crime Programm design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Form element: Time picker</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Use this pattern when entering a specific time is needed.</p>
            <p>This pattern uses 24-hour time format.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Date entry examples</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/time-picker/time-pickers.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/time-picker/time-pickers.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">Shown with and without a time icon.</p>
            <!-- Example -->
            <p class="top_15 bottom_5 bold">In use example</p>
            <div class="example">
                <a href="/public/images/design_patterns/time-picker/time-picker-example.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/time-picker/time-picker-example.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Example of time picker with the event log pattern.</p>

            <!-- Additional information -->
            <!-- ********************** -->
            <!--
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="padding-left-0">
                <h4 class="font-small bold-text bottom_5">Lorem ipsum</h4>
                <div class="colour-swatch link-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#005EA5<br>$link-colour</div>
            </div>
            -->
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/time-picker/time-picker.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}