{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Form elements: Type-ahead</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>When typing text into a form field with specific itmes that can be selected all releated items that match the text being typed will be displayed in real-time.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/type-ahead/type-ahead-1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/type-ahead/type-ahead-1.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">This is how the empty form field looks before any text has been typed.</p>
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/type-ahead/type-ahead-2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/type-ahead/type-ahead-2.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">This shows the form element in focus and even before any characters are typed the type-ahead pattern will be display all items.</p>
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example three</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/type-ahead/type-ahead-3.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/type-ahead/type-ahead-3.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_5">As characters are typed the number of items listed is refined to show only the items that contain the characters typed.</p>
            <p class="secondary top_10 bottom_30">In this example 4 items are visible and if there are more items the user can scroll to view them and resize the height of the list.</p>
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example four</p>
            <div class="example">
                <a href="/public/images/design_patterns/type-ahead/type-ahead-4.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/type-ahead/type-ahead-4.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">This shows the form field populated with the item selected.</p>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <!--
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="padding-left-0">
                <h4 class="font-small bold-text bottom_5">Lorem ipsum</h4>
                <div class="colour-swatch link-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#005EA5<br>$link-colour</div>
            </div>
            -->
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/type-ahead/type-ahead.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}