{% extends "layout-CPP.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Global header (CPP)</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 2 March 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>The majority of the common platform currently uses this CPP specific global header.</p>
            <p>This page is using the CPP global header and global footer.</p>
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">How do I use this?</h2>                    
            <p>You will need the following file and code (these are the same for both the CPP global header and footer):</p>
            <ul class="list list-bullet">
                <li><span class="bold">layout-CPP.html</span> - place this in your prototypes 'views' folder (prototype folder > app > views)</li>
                <li><span class="bold">CPP-template.html</span> - place this in your prototypes 'lib' folder (prototype folder > lib)</li>
            </ul>
            <details>
                <summary><span class="summary">Place this code at the top of your page template:</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&#123;% extends "layout-CPP.html" %&#125;</code></pre>

                    <p class="secondary top_10">This replaces the default code <span class="bold">&#123;% extends "layout-CPP.html" %&#125;</span></p>
                    
                </div>
            </details>


            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/global-header/cpp-header-signed-out.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-header/cpp-header-signed-out.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">When a user is NOT signed in the header will display the service name to the left, IdAM sign in link to the right.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/global-header/cpp-header-signed-in.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-header/cpp-header-signed-in.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">When a user is signed in the header will display the service name to the left, IdAM links to the right.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/global-header/cpp-header-signed-in-with-messages.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-header/cpp-header-signed-in-with-messages.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">If a service has messaging there will be one additional link in the header for this feature.</p>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}

        {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";

    document.getElementById("patternType").innerHTML = "Element";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/global-header/global-header-cpp.zip' title='Sketch template for designers'>Sketch template + HTML files</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}