{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Global navigation</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This pattern is a collection of styled links that come in two variations:  1) horizontally at larger screen sizes and; 2) at smaller screen sizes the navigation changes to a stacked version that can be shown and hidden.</p>
            <p>These links can be sectioned into groups.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Horizontal variation</p>
            <div class="example bottom_10">
                <a href="/public/images/design_patterns/global-navigation/global-navigation-1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-navigation/global-navigation-1.png" class="example_img bottom_30" alt="example">
                </a>
            </div>
            <div class="example bottom_30">
                <a href="/public/images/design_patterns/global-navigation/global-navigation-2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-navigation/global-navigation-2.png" class="example_img" alt="example">
                </a>
            </div>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Horizontal variation redline</p>
            <div class="example bottom_10">
                <a href="/public/images/design_patterns/global-navigation/global-navigation-1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-navigation/global-navigation-1.png" class="example_img bottom_30" alt="example">
                </a>
            </div>
            <div class="example bottom_30">
                <a href="/public/images/design_patterns/global-navigation/global-navigation-2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-navigation/global-navigation-2.png" class="example_img" alt="example">
                </a>
            </div>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Stacked variation</p>
            <div class="example">
                <a href="/public/images/design_patterns/global-navigation/global-navigation-mobile-hidden.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-navigation/global-navigation-mobile-hidden.png" class="example_img" alt="example">
                </a>
            </div>
            <div class="example top_10">
                <a href="/public/images/design_patterns/global-navigation/global-navigation-mobile-shown.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-navigation/global-navigation-mobile-shown.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">This shows the closed and opened variations.</p>

            <p class="top_15 bottom_5 bold">Stacked variation redline</p>
            <div class="example">
                <a href="/public/images/design_patterns/global-navigation/global-navigation-mobile-hidden-redline.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-navigation/global-navigation-mobile-hidden-redline.png" class="example_img" alt="example">
                </a>
            </div>
            <div class="example top_10">
                <a href="/public/images/design_patterns/global-navigation/global-navigation-mobile-shown-redline.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-navigation/global-navigation-mobile-shown-redline.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">This shows the hit areas.</p>

            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Typography</h4>
            <p>Font size: 16px<br>
            Font weight: Bold</p>
            <p>The current selected section is non-linking text with a 5px #0B0C0C / $black underline.</p>
            <div class="">
                <h4 class="font-small bold-text bottom_5">Non-link text colour</h4>
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_15">#0B0C0C<br>$text-colour</div>
            </div>            
            <h4 class="font-small bold-text bottom_5">Linking text</h4>
            <p >Font size: 16px<br>
            Font weight: Bold<br>
            Linking text is not underlined<br>
            Linking text does not have a visitied colour</p>
            <div class="">
                <h4 class="font-small bold-text bottom_5">Link text colour</h4>
                <div class="colour-swatch link-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_15">#005EA5<br>$link-colour</div>
            </div>            
            <div class="">
                <h4 class="font-small bold-text bottom_5">Link text hover colour</h4>
                <div class="colour-swatch link-hover-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#2B8CC4<br>$link-hover-colour</div>
            </div>            
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/global-navigation/global-navigation.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}