{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Global header - CPP</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>The majority of the common platform currently uses this CPP specific global header.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example top_0 bottom_10">
                <a href="/public/images/design_patterns/global-header/cpp-header-signed-out.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-header/cpp-header-signed-out.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">When a user is NOT signed in the header will display the service name to the left, IdAM sign in link to the right.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/global-header/cpp-header-signed-in.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-header/cpp-header-signed-in.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10 bottom_30">When a user is signed in the header will display the service name to the left, IdAM links to the right.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/global-header/cpp-header-signed-in-with-messages.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-header/cpp-header-signed-in-with-messages.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">If a service has messaging there will be one additional link in the header for this feature.</p>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/global-header/cpp-header.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}