{% extends "layout.html" %}

{% block page_title %}
  CJS Crime Programm design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Global notification</h1>
            <h2 class="heading-xsmall bottom_30 secondary">Last updated on 20 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This pattern is a message displayed at the top of the page above the header and is typically used when there are technical or connectivity issues that affect the platform and/or user globally (not case specific).</p>

            
            
            
            
            <style>
            </style>
            
            <div class="example">
                <!-- GLOBAL NOTIFICATION - WITH ICON -->
                <div class="global-notification-nest">
                    <div class="global-notification">
                        <div class="global-notification-icon"><img src="/public/images/design_patterns/global-notification/alert-icon-white.svg" class="global-notification-icon"></div>
                        <div class="global-notification-text">Your session has expired due to a period of inactivity</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10">With alert icon.</p>

            <div class="example">
                <!-- GLOBAL NOTIFICATION - NO ICON -->
                <div class="global-notification-nest">
                    <div class="global-notification">
                        <div class="global-notification-text">Your session has expired due to a period of inactivity</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10">With no icon.</p>

            <div class="example">
                <!-- GLOBAL NOTIFICATION WITH LINK -->
                <a class="global-notification-link" href="#">
                    <div class="global-notification-nest">
                        <div class="global-notification">
                            <div class="global-notification-text">Your session has expired due to a period of inactivity - <span class="global-notification-text-link">sign in</span></div>
                        </div>
                    </div>
                </a>
            </div>
            <p class="secondary top_10">With text link - the entire banner is clickable</p>

            <!-- IN USE EXAMPLE -->
            <p class="top_15 bottom_5 bold">Example showing placement above the global header</p>
            <div class="example">
                <a href="/public/images/design_patterns/global-notification/global-notifcation-example.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/global-notification/global-notifcation-example.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Content only spans the content width as shown. The red background spans the full width in the same way as the header black background with no padding.</p>
                   

            
            
            
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* GLOBAL NOTIFICTAION PATTERN */
.global-notification-nest {
    background-color: #DF3034;
}
.global-notification {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #DF3034;
    height: 40px;
    display: table-cell;
    vertical-align: middle;                    
}
.global-notification div {
    display: inline-block;
}
.global-notification-icon {
}
.global-notification-text {
    vertical-align: middle;
}
.global-notification-icon img {
    height: 20px;
    vertical-align: middle;
}
.global-notification-text-link {
    text-decoration: underline;
}
.global-notification-link {
    color: #FFFFFF;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;!-- GLOBAL NOTIFICATION - WITH ICON --&gt;
&lt;div class="global-notification-nest"&gt;
    &lt;div class="global-notification"&gt;
        &lt;div class="global-notification-icon"&gt;&lt;img src="/public/images/design_patterns/global-notification/alert-icon-white.svg" class="global-notification-icon"&gt;&lt;/div&gt;
        &lt;div class="global-notification-text"&gt;Your session has expired due to a period of inactivity&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- GLOBAL NOTIFICATION - NO ICON --&gt;
&lt;div class="global-notification-nest"&gt;
    &lt;div class="global-notification"&gt;
        &lt;div class="global-notification-text"&gt;Your session has expired due to a period of inactivity&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- GLOBAL NOTIFICATION WITH LINK --&gt;
&lt;a class="global-notification-link" href="#"&gt;
    &lt;div class="global-notification-nest"&gt;
        &lt;div class="global-notification"&gt;
            &lt;div class="global-notification-text"&gt;Your session has expired due to a period of inactivity - &lt;span class="global-notification-text-link"&gt;sign in&lt;/span&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/a&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>

            
            
            
            
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <!--
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Header text</h4>
            <p >Content to be confirmed.</p>
            <div class="">
                <h4 class="font-small bold-text bottom_5">Colour</h4>
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>
            -->
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>

    document.getElementById("patternSource").innerHTML = "CPP";

    document.getElementById("patternType").innerHTML = "Element";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/global-notification/global-notification-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}