{% extends "layout.html" %}

{% block page_title %}
  CJS Crime Programm design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Grids</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 20 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>We use the GOV.UK standard <a href="http://govuk-elements.herokuapp.com/layout/#layout-grid-unit-proportions" target="_blank" title="GOV.UK elements > Layout > Grid unit proportions">grid unit proportions</a>.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Larger screens</p>
            <div class="example">
                <a href="/public/images/design_patterns/grids/grids.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/grids/grids.png" class="example_img bottom_30" alt="example">
                </a>
            </div>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Smaller screens</p>
            <div class="example">
                <a href="/public/images/design_patterns/grids/grids-mobile.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/grids/grids-mobile.png" class="example_img" alt="example">
                </a>
            </div>
            
                        
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>The default maximum page width is 1020px, but go wider if the content requires it.</p>
            <p>Gutters are 15px for smaller screens and 30px for larger screens.</p>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
                        
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>

    document.getElementById("patternSource").innerHTML = "GOV.UK";

    document.getElementById("patternType").innerHTML = "Element<br>Component";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/grids/grids.sketch' title='Sketch template for designers'>Sketch template</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "<a href='http://govuk-elements.herokuapp.com/layout/#layout-grid-unit-proportions' target='_blank' title='GOV.UK elements > Layout > Grid unit proportions'>GOV.UK elements > Layout > Grid unit proportions</a>";

</script>

{% endblock %}