{% extends "layout-dashboard.html" %}

{% block page_title %}
  CJS CPP homepage template version two
{% endblock %}

{% block content %}

{% include "includes/homepage_header_template_2.html" %}

<main id="content" role="main">
        
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Homepage template version two</h1>
        </div>
        
        <div class="column-two-thirds">            
            <h2 class="heading-medium top_0">Content</h2> 
            <p>Lorem ipsum dolor sit amet...</p>
        </div>
        
    </div>
    
</main>

{% endblock %}