{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Homepage template</h1>
            <p class="heading-medium top_0 bottom_5">(landing page/dashboard)</p>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 1 March 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>A homepage (landing page/dashboard) is the typically the first page a user will see after they successfully sign in.</p>
            <p>This is where the content displayed will be a usefull overview of information that is important to that user to easily access items that require action. There are also options to include important links as well well as a search to find jus what the user is searching for.</p>
            <p>There are three different templates with varying levels of complexity, which one to use will depend on the users and be determined by UX research and design.</p>
            <p>All homepage templates use the <a href="global-footer-cpp.html" target="_self" title="CPP global footer">CPP global footer</a>; the content will be determined by user testing and UX research and design.</p>
            <p>The main difference between the templates is the header section which is called a homepage masthead - these are detailed below.</p>
            
            <hr class="top_60">
            
            <!-- ******* -->
            <!-- EXAMPES -->
            <!-- ******* -->
            <h2 class="heading-medium bottom_5 top_60">Template overview</h2>
     
            <div class="grid-row">
                <div class="column-one-third">            
                    <!-- Template 1 -->
                    <p class="top_15 bottom_5 bold">Template 1</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/homepage-templates/Template-1-overview.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/homepage-templates/Template-1-overview.png" class="example_img" alt="example">
                        </a>
                    </div>
                    <p class="bottom_30"><a href="#template-one">View detail</a><br>
                </div>
                <div class="column-one-third">            
                    <!-- Template 2 -->
                    <p class="top_15 bottom_5 bold">Template 2</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/homepage-templates/Template-2-overview.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/homepage-templates/Template-2-overview.png" class="example_img" alt="example">
                        </a>
                    </div>
                    <p class="bottom_30"><a href="#template-two">View detail</a><br>
               </div>
                <div class="column-one-third">            
                    <!-- Template 3 -->
                    <p class="top_15 bottom_5 bold">Template 3</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/homepage-templates/Template-3-overview.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/homepage-templates/Template-3-overview.png" class="example_img" alt="example">
                        </a>
                    </div>
                    <p class="bottom_30"><a href="#template-three">View detail</a><br>
                </div>
            </div>
            
            
            <hr class="top_60">
            
            <!-- ************* -->
            <!-- MASTHEAD GRID -->
            <!-- ************* -->
            <h2 class="heading-medium bottom_5 top_60">Masthead grid</h2>
     
            <!-- Template 1 -->
            <div class="example">
                <a href="/public/images/design_patterns/homepage-templates/masthead-grid.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/homepage-templates/masthead-grid.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">The header (homepage-masthead) used the two thirds / one third grid.</p>
  
            
            
            
            
            
            <a name="template-one"></a>
            <hr class="top_60">
            <!-- ************ -->
            <!-- TEMPLATE ONE -->
            <!-- ************ -->
            <h2 class="heading-medium bottom_15 top_60">Template one</h2>
            <p>This is the most basic homepage template.</p>
                 
            <!-- Example -->
            <p class="top_60 bottom_5 bold">Example and redline specification</p>
            <div class="example bottom_30">
                <a href="/public/images/design_patterns/homepage-templates/Template-1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/homepage-templates/Template-1.png" class="example_img" alt="example">
                </a>
            </div>
                        
            <h4 class="font-small bold-text top_30 bottom_5">H1 (large text in blue section)</h4>
            <p class="bottom_5">Font-size: 48px<br>
            Line-height: 50px<br>
            Font-weight: Bold<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            <p class="top_20 bottom_5">Text is left aligned with the main content area.</p>
            <p class="top_5">Text is centered vertically.</p>
            
            <h4 class="font-small bold-text top_30 bottom_5">Small clickable text in black section</h4>
            <p class="bottom_5">Font-size: 16px<br>
            Line-height: 25px<br>
            Font-weight: Bold<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            <p class="top_20 bottom_5">Text is underlined on hover.
            <p class="top_5 bottom_5">Text is right aligned with the main content area.</p>
            <p class="top_5">Text is centered vertically.</p>

            <div class="">
                <h4 class="font-small bold-text bottom_5">Black section</h4>
                <p class="bottom_5">40xp height<br>
                Full-width of browser window<br>
                Colour:</p>
                <div class="colour-swatch black top_5">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$black</div>
            </div>            

            <div class="">
                <h4 class="font-small bold-text bottom_5">Blue section</h4>
                <p class="bottom_5">110xp height<br>
                Full-width of browser window<br>
                Colour:</p>
                <div class="colour-swatch govuk-blue top_5">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#005EA5<br>$govuk-blue</div>
            </div>            

            
            
            
            
            
            
            <a name="template-two"></a>
            <hr class="top_60">
            <!-- ************ -->
            <!-- TEMPLATE TWO -->
            <!-- ************ -->
            <h2 class="heading-medium bottom_15 top_60">Template two</h2>
            <p>This template expands on variation one as described below with the inclusion of search functionality.</p>

            <!-- Example -->
            <p class="top_60 bottom_5 bold">Example and redline specification</p>
            <div class="example bottom_30">
                <a href="/public/images/design_patterns/homepage-templates/Template-2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/homepage-templates/Template-2.png" class="example_img" alt="example">
                </a>
            </div>
                        
            <h4 class="font-small bold-text top_30 bottom_5">Search - large text</h4>
            <p class="bottom_5">Font-size: 24px<br>
            Line-height: 30px<br>
            Font-weight: Bold<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">Search - small text</h4>
            <p class="bottom_5">Font-size: 19px<br>
            Line-height: 25px<br>
            Font-weight: normal<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>

            <div class="">
                <h4 class="font-small bold-text bottom_5">Search box</h4>
                <p class="bottom_5">This is based on the <a href="search-element.html" target="_self" title="search (element) pattern">search (element) pattern</a>.<br>
                <p class="bottom_5">Further details to be confirmed.<br>
            </div>            

            
            
            
            
            
            
            
            <a name="template-three"></a>
            <hr class="top_60">
            <!-- ************** -->
            <!-- TEMPLATE THREE -->
            <!-- ************** -->
            <h2 class="heading-medium bottom_15 top_60">Template three</h2>
            <p>This template expands on variations one and two as described below and offers the addion of a link text box in the right column.</p>

            <!-- Example -->
            <p class="top_60 bottom_5 bold">Example and redline specification</p>
            <div class="example bottom_30">
                <a href="/public/images/design_patterns/homepage-templates/Template-3.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/homepage-templates/Template-3.png" class="example_img" alt="example">
                </a>
            </div>
                        
            <h4 class="font-small bold-text top_30 bottom_5">Link text box header</h4>
            <p class="bottom_5">Font-size: 19px<br>
            Line-height: 25px<br>
            Font-weight: normal<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">Link box text links</h4>
            <p class="bottom_5">Font-size: 19px<br>
            Line-height: 25px<br>
            Font-weight: Bold<br>
            10px space between text links<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>

            <h4 class="font-small bold-text top_30 bottom_5">Link box</h4>
            <p class="bottom_5">Margin: 20px<br>
            Colour:</p>
            <div class="top_5">
                <div class="colour-swatch black">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$black</div>
            </div>

            <hr class="top_60">
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">How do I use these templates?</h2>
            
            
            
            <!-- Coded template detail -->
            <p>Coded versions of these templates have been created for use with the GOV.UK prototype kit:</p>
            
            <p><a href="/public/images/design_patterns/homepage-templates/homepage-templates.zip">homepage-templates.zip</a></p>
            
            <p>This ZIP archive includes the following files:</p>
            <ul class="list list-bullet">
                <li>Specific to template 1
                    <ul class="list list-bullet">
                        <li><span class="bold">'homepage-template-1.html'</span> - this is the main page template and should be placed in your 'views' folder (prototype folder > app > views) - you can edit the content in this file as needed</li>
                        <li><span class="bold">'homepage_header_template_1.html'</span> - this is an include for the masthead and should be copied to your prototypes 'includes' folder (prototype folder > app > views > includes) - you can edit the content in this file as needed</li>
                    </ul>
                </li>
                <li>Specific to template 2
                    <ul class="list list-bullet">
                        <li><span class="bold">'homepage-template-2.html'</span> - this is the main page template and should be placed in your 'views' folder (prototype folder > app > views) - you can edit the content in this file as needed</li>
                        <li><span class="bold">'homepage_header_template_2.html'</span> - this is an include for the masthead and should be copied to your prototypes 'includes' folder (prototype folder > app > views > includes) - you can edit the content in this file as needed</li>
                    </ul>
                </li>
                <li>Specific to template 3
                    <ul class="list list-bullet">
                        <li><span class="bold">'homepage-template-3.html'</span> - this is the main page template and should be placed in your 'views' folder (prototype folder > app > views) - you can edit the content in this file as needed</li>
                        <li><span class="bold">'homepage_header_template_3.html'</span> - this is an include for the masthead and should be copied to your prototypes 'includes' folder (prototype folder > app > views > includes) - you can edit the content in this file as needed</li>
                    </ul>
                </li>
                <li>Specific to all homepage templates
                    <ul class="list list-bullet">
                        <li><span class="bold">'homepage_header_template_black_bar.html'</span> - this is an include for the black bar at the very top of the page and should be placed in your projects 'includes' folder (prototype folder > app > views > includes)</li>
                        <li><span class="bold">'layout-dashboard.html'</span> - this should be placed in your projects 'views' folder (prototype folder > app > views)</li>
                        <li><span class="bold">'CPP_template_homepage.html'</span> - This should be placed in your prototype folders 'lib' folder (prototype folder > lib)</li>
                    </ul>
                </li>
            </ul>

            <p class="bold">Code snippet</p><p>This is the CSS for the homepage templates to render correctly in your prototype:</p>
            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
                    <pre class="language-css"><code class="language-css">/* HOMEPAGE (DASHBOARD) TEMPLATE PATTERN */
#global-header {
    overflow: auto;
}
#global-header h1 {
    margin: 0;
}
.leftcolumn {
    color: #FFF;
    margin-top: 30px;
    padding-bottom: 30px;
}
.rightcolumn {
    color: #FFF;
    background-color: #0B0C0C;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.rightcolumn p {
    margin: 0;
    padding-bottom:5px;
}
.rightcolumn a {
    color: #fff;
    font-weight: bold;
}
#content {
    padding-bottom: 0;
}
.search-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
}
.homepage-search .form-label {
    color: #fff; margin-top:0;
    margin-bottom: 5px;
}
.homepage-search .form-control {
    border:none; width:80%; height: 40px
}
.black-bar {
    padding-bottom: 0;
    height: 30px;
    padding-top: 5px;
    padding-bottom:5px;
}
.black-bar-text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
#footer {
    margin-top:60px;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <hr class="top_60">
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    
    document.getElementById("patternSource").innerHTML = "CPP";
    
    document.getElementById("patternType").innerHTML = "Element<br>Component";
    
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/homepage-templates/homepage-templates.sketch' title='Sketch template for designers'>Sketch template</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}