{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Homepage template (landing page/dashboard)</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This homepage (landing page/dashboard) is the typically the first page a user will see after they successfully sign in.</p>
            <p>It is the users homepage where the content displayed will be a usefull overview of information that is important to that user to easily access items that require action. There are also options to include important links as well well as a search to find jus what the user is searching for.</p>
            <p>There are three different templates with varying levels of complexity, which one to use will depend on the users and be determined by UX research and design.</p>
            <p>All homepage templates use the <a href="global-footer-cpp.html" target="_self" title="CPP global footer">CPP global footer</a>; the content will be determined by user testing and UX research and design.</p>
            <p>The main difference between the templates is the header section which is called a homepage masthead - these are detailed below.</p>
            
            <!-- ************ -->
            <!-- TEMPLATE ONE -->
            <!-- ************ -->
            <h2 class="heading-medium bottom_5 top_60">Template one</h2>       <p>This is the most basic variation.</p>
     
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example</p>
            <div class="example">
                <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Description to be confirmed.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Redline specification</p>
            <div class="example">
                <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                </a>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">H1 (large text in blue section)</h4>
            <p class="bottom_5">Font-size: 48px<br>
            Line-height: 50px<br>
            Font-weight: Bold<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            <p class="top_20 bottom_5">Text is left aligned with the main content area.</p>
            <p class="top_5">Text is centered vertically.</p>
            
            <h4 class="font-small bold-text top_30 bottom_5">Small clickable text in black section</h4>
            <p class="bottom_5">Font-size: 16px<br>
            Line-height: 25px<br>
            Font-weight: Bold<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            <p class="top_20 bottom_5">Text is underlined on hover.
            <p class="top_5 bottom_5">Text is right aligned with the main content area.</p>
            <p class="top_5">Text is centered vertically.</p>

            <div class="">
                <h4 class="font-small bold-text bottom_5">Black section</h4>
                <p class="bottom_5">40xp height<br>
                Full-width of browser window<br>
                Colour:</p>
                <div class="colour-swatch black top_5">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$black</div>
            </div>            

            <div class="">
                <h4 class="font-small bold-text bottom_5">Blue section</h4>
                <p class="bottom_5">110xp height<br>
                Full-width of browser window<br>
                Colour:</p>
                <div class="colour-swatch govuk-blue top_5">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#005EA5<br>$govuk-blue</div>
            </div>            

            <!-- ************ -->
            <!-- TEMPLATE TWO -->
            <!-- ************ -->
            <h2 class="heading-medium bottom_5 top_60">Template two</h2>       <p>This follows expands on variation one as described below.</p>
            <p>When search functionality is required on the homepage please use this header (homepage-masthead) variation.</p>
     
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example</p>
            <div class="example">
                <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Description to be confirmed.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Redline specification</p>
            <div class="example">
                <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                </a>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">Search - large text</h4>
            <p class="bottom_5">Font-size: 24px<br>
            Line-height: 30px<br>
            Font-weight: Bold<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">Search - small text</h4>
            <p class="bottom_5">Font-size: 19px<br>
            Line-height: 25px<br>
            Font-weight: normal<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>

            <div class="">
                <h4 class="font-small bold-text bottom_5">Search box</h4>
                <p class="bottom_5">This is based on the <a href="search-element.html" target="_self" title="search (element) pattern">search (element) pattern</a>.<br>
                <p class="bottom_5">Further details to be confirmed.<br>
            </div>            

            <!-- ************** -->
            <!-- TEMPLATE THREE -->
            <!-- ************** -->
            <h2 class="heading-medium bottom_5 top_60">Template three</h2>       <p>This follows expands on variations one and two as described below.</p>
            <p>This is the most complex header (homepage-masthead) offers the addion of a link text box in the right column <a href="grids.html" target="_self" title="grid layouts">(using the two-thirds/one-third grid layou)</a>.</p>
     
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example</p>
            <div class="example">
                <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Description to be confirmed.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Redline specification</p>
            <div class="example">
                <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                </a>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">Link text box header</h4>
            <p class="bottom_5">Font-size: 19px<br>
            Line-height: 25px<br>
            Font-weight: normal<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">Link box text links</h4>
            <p class="bottom_5">Font-size: 19px<br>
            Line-height: 25px<br>
            Font-weight: Bold<br>
            10px space between text links<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>

            <h4 class="font-small bold-text top_30 bottom_5">Link box</h4>
            <p class="bottom_5">Margin: 20px<br>
            Colour:</p>
            <div class="top_5">
                <div class="colour-swatch black">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$black</div>
            </div>
            

            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/tbc/tbc.sketch" title="Sketch template for designers">Sketch template for designers to be confirmed</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element<br>Component";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}