{% extends "layout.html" %}

{% block page_title %}
  CJS Crime Programm design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">In browser document preview</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>The C2I UX team are currently researching, designing and testing this pattern.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <!--
            <h2 class="heading-medium bottom_5 top_60">Examples</h2> 
            -->
            <!-- Example -->
            <!--
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example">
                <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Description to be confirmed.</p>-->
            
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <!--
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Header text</h4>
            <p >Content to be confirmed.</p>
            -->
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <!--
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/tbc/tbc.sketch" title="Sketch template for designers">Sketch template for designers to be confirmed</a>
                </li>
            </ul>
            -->
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element<br>Component";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}