{% extends "layout.html" %}

{% block page_title %}
  CJS Crime Programm design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Inline important notification</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 20 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>We need to convey the gravity of the situation we’re describing. In some instances the important notification exists to tell users that if they continue, some or all of their work will be irretrievably lost.</p>
            <p>We also need to convey important information for the user to consider, however, they can continue without loosing any of their work.</p>
            <p>We need to ensure colour blind users will be able to interprest these importan notifications. The use of an icon or indentation will aid with this. As will the interaction - for examle the important notifications are display only when a user take a specific action so there will be a noticable shift of content on the screen.</p>


            
            <style>
            </style>
            
            <!-- ******* -->
            <!-- CONCEPT -->
            <!-- ******* -->
            <h2 class="heading-medium bottom_5 top_60">Concept</h2>
            
            <p>When a change has implications a short message with a tickbox can be used for users to confirm the change before saving.</p>
            
            <!-- Example -->
            <div class="example">
                <div class="form-group">
                    <div class="important-inline-notification panel panel-border-narrow">
                        <p>Previous analysis for this supsect will be lost when you save your new result</p>
                        <div class="multiple-choice" data-target="contact-by-text">
                            <input id="confirm-result" name="confirmResult" type="checkbox" value="Confirm result">
                            <label for="confirm-result">Tick to confirm this result</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--<p class="secondary top_10">Description to be confirmed.</p>-->

            
            
            
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->        
            <div class="grid-row">
                <div class="column-half">
                    <!-- Example -->
                    <p class="heading-medium bottom_5 top_60">Example one</p>
                    <p class="heading-small">Normal state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/important-inline-notification/state-1a.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/important-inline-notification/state-1a.png" class="example_img" alt="example">
                        </a>
                    </div>
                    
                    <p class="heading-small">Important notification state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/important-inline-notification/state-1b.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/important-inline-notification/state-1b.png" class="example_img" alt="example">
                        </a>
                    </div>
                    
                    <p class="heading-small">Error state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/important-inline-notification/state-1c.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/important-inline-notification/state-1c.png" class="example_img" alt="example">
                        </a>
                    </div>
                </div>
                
                <div class="column-half">
                    <!-- Example -->
                    <p class="heading-medium bottom_5 top_60">Example two</p>
                    <p class="heading-small">Normal state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/important-inline-notification/state-2a.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/important-inline-notification/state-2a.png" class="example_img" alt="example">
                        </a>
                    </div>
                    
                    <p class="heading-small">Important notification state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/important-inline-notification/state-2b.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/important-inline-notification/state-2b.png" class="example_img" alt="example">
                        </a>
                    </div>
                    
                    <p class="heading-small">Error state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/important-inline-notification/state-2c.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/important-inline-notification/state-2c.png" class="example_img" alt="example">
                        </a>
                    </div>
                </div>
            </div>

            
            
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* INLINE IMPORTANT NOTIFICATION PATTERN */
.important-inline-notification p {
    margin-bottom: 10px;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;!-- INLINE IMPORTANT NOTIFICATION PATTERN --&gt;
&lt;div class="form-group"&gt;
    &lt;div class="important-inline-notification panel panel-border-narrow"&gt;
        &lt;p&gt;Previous analysis for this supsect will be lost when you save your new result&lt;/p&gt;
        &lt;div class="multiple-choice" data-target="contact-by-text"&gt;
            &lt;input id="confirm-result" name="confirmResult" type="checkbox" value="Confirm result"&gt;
            &lt;label for="confirm-result"&gt;Tick to confirm this result&lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>

            
            
            
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <!--
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Header text</h4>
            <p >Content to be confirmed.</p>
            <div class="">
                <h4 class="font-small bold-text bottom_5">Colour</h4>
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>
            -->
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";
    
    document.getElementById("patternType").innerHTML = "Component";
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/important-inline-notification/important-inline-notification.sketch' title='Sketch template for designers'>Sketch template</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "";
</script>

{% endblock %}