{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Inline important notification</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>We need to convey the gravity of the situation we’re describing. In some instances the important notification exists to tell users that if they continue, some or all of their work will be irretrievably lost.</p>
            <p>We also need to convey important information for the user to consider, however, they can continue without loosing any of their work.</p>
            <p>We need to ensure colour blind users will be able to interprest these importan notifications. The use of an icon or indentation will aid with this. As will the interaction - for examle the important notifications are display only when a user take a specific action so there will be a noticable shift of content on the screen.</p>


            <!-- ******* -->
            <!-- CONCEPT -->
            <!-- ******* -->
            <h2 class="heading-medium bottom_5 top_60">Concept</h2>
            
            <p>When a change has implications a short message with a tickbox can be used for users to confirm the change before saving.</p>
            
            <!-- Example -->
            <div class="example">
                <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Description to be confirmed.</p>

            
            
            
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->        
            <div class="grid-row">
                <div class="column-half">
                    <!-- Example -->
                    <p class="heading-medium bottom_5 top_60">Example one</p>
                    <p class="heading-small">Normal state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                        </a>
                    </div>
                    
                    <p class="heading-small">Important notification state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                        </a>
                    </div>
                    
                    <p class="heading-small">Error state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                        </a>
                    </div>
                </div>
                
                <div class="column-half">
                    <!-- Example -->
                    <p class="heading-medium bottom_5 top_60">Example two</p>
                    <p class="heading-small">Normal state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                        </a>
                    </div>
                    
                    <p class="heading-small">Important notification state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                        </a>
                    </div>
                    
                    <p class="heading-small">Error state</p>
                    <div class="example">
                        <a href="/public/images/design_patterns/tbc/tbc.png" target="_blank" title="View full-size example">
                            <img src="/public/images/design_patterns/tbc/tbc.png" class="example_img" alt="example">
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Header text</h4>
            <p >Content to be confirmed.</p>
            <div class="">
                <h4 class="font-small bold-text bottom_5">Colour</h4>
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>            
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/tbc/tbc.sketch" title="Sketch template for designers">Sketch template for designers to be confirmed</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}