{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Label</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 21 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>The label pattern is used to display important details or information related to a specific item, for example, a case that is awaiting plea.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_15 top_60">Example</h2>            
            <!-- Example -->
            <div class="example bottom_30">
                <span class="label">Awaiting plea</span>
            </div>
            

            
            
            
            
            
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* LABEL PATTERN */
.label {
    border: 2px solid #0B0C0C;
    padding: 6px 9px 3px 9px;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;span class="label"&gt;Awaiting plea&lt;/span&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->

                    {% include "includes/code_snippet.html" %}

                </div>
            </details>

            
            
            
            
            
            
             
            <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
            
            <!-- Example -->
            <h2 class="heading-medium bottom_15 top_60">Redline specification</h2>
            <div class="example">
                <span style="background: rgba(255,0,0,.6);" class="label"><span style="background: #fff">AWAITING PLEA</span></span>
            </div>
            <p class="secondary top_10">This shows padding: 6px 9px 3px 9px</p>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Typography</h4>
            <p class="bottom_5">Font-size: 19px<br>
            Font-weight: bold<br>
            Tex-transofrmation: Uppercase<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>            
            <h4 class="font-small bold-text top_20 bottom_5">Border</h4>
            <p class="bottom_5">2px solid<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch black">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$black</div>
            </div>            
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";

    document.getElementById("patternType").innerHTML = "Element";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/label/label.sketch' title='Sketch template for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}