{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Meta data</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Description to be confirmed.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Small meta data (meta-small)</p>
            <div class="example">
                <a href="/public/images/design_patterns/meta-data/meta-data-1.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/meta-data/meta-data-1.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Description to be confirmed.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Small meta data (meta-small)</p>
            <div class="example">
                <a href="/public/images/design_patterns/meta-data/meta-data-2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/meta-data/meta-data-2.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Description to be confirmed.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Large meta data (meta-large)</p>
            <div class="example">
                <a href="/public/images/design_patterns/meta-data/meta-data-3.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/meta-data/meta-data-3.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">See the <a href="download-files.html" target="_self" title="CPP download pattern">CPP download pattern</a> for details regarind document downloads.</p>
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Typography</h4>
            <p class="bottom_5">Meta small font-size: 16px <br>
            Meta large font-size: 19px<br>
            Font-weight: bold or normal as shown<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>            
</p>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/meta-data/meta-data.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}