{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Meta data</h1>
            <h2 class="heading-xsmall bottom_30 secondary">Last updated on 26 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This pattern is a combination of a lightly modified GOV.UK table element with either 'small' or 'large' text. As shown in these examples other elements can be used with this pattern (for example, the 'download document' pattern).</p>
 
            
            
            
            
            
            
            
            <style>
            </style>
            
            <div class="example">
                <!-- META DATA PATTER EXAMPLE 1 -->
                <table class="meta-data-small">
                    <tbody>
                        <tr>
                            <td class="bold">Name</td>
                            <td>case-123456789</td>
                        </tr>
                        <tr>
                            <td class="bold">Uploaded</td>
                            <td>9 February 2018</td>
                        </tr>
                        <tr>
                            <td class="bold">Status</td>
                            <td class="bold" style="color: #B10E1E">Rejected</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="example top_30">
                <!-- META DATA PATTER EXAMPLE 2 -->
                <table class="meta-data-small">
                    <tbody>
                        <tr>
                            <td class="bold">Age</td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <td class="bold">Date of birth</td>
                            <td>8 June 1985</td>
                        </tr>
                        <tr>
                            <td class="bold">Nationality</td>
                            <td>British<br>Self-defined as White British</td>
                        </tr>
                        <tr>
                            <td class="bold">Address</td>
                            <td>14 Tottenham Court Road, London, WT 1JY</td>
                        </tr>
                        <tr>
                            <td class="bold">Email</td>
                            <td>peter.james@abc.com</td>
                        </tr>
                        <tr>
                            <td class="bold">National Insurance</td>
                            <td>PC 12 34 56 78</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="example top_30">
                <!-- META DATA PATTER EXAMPLE 3 -->
                <table class="meta-data-large">
                    <tbody>
                        <tr>
                            <td class="bold">Case status</td>
                            <td>Awaiting plea</td>
                        </tr>
                        <tr>
                            <td class="bold">Prosecutor</td>
                            <td>Transport for London</td>
                        </tr>
                        <tr>
                            <td class="bold">Notice served</td>
                            <td>2 February 2018</td>
                        </tr>
                        <tr>
                            <td class="bold">Documents</td>
                            <td>
                                <div class="download-file">
                                    <img src="/public/images/design_patterns/download/Thumbnail%20icon%20-%20small.png" title="document title">
                                    <div class="download-file-text">
                                        <span class="font-xsmall"><a href="#">SJP notice</a></span>
                                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                                    </div>
                                </div>
                                <div class="download-file">
                                    <img src="/public/images/design_patterns/download/Thumbnail%20icon%20-%20small.png" title="document title">
                                    <div class="download-file-text">
                                        <span class="font-xsmall"><a href="#">SJP notice</a></span>
                                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="secondary top_10">See the <a href="download-files.html" target="_self" title="CPP download pattern">CPP download pattern</a> for details regarding document downloads.</p>

            
            

            
            
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/*  META DATA PATTERN */
.meta-data-small td {
    border: none;
    padding: 0;
    font-size: 16px;
    vertical-align: top;
}
.meta-data-large td {
    border: none;
    padding: 0;
    font-size: 19px;
    vertical-align: top;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;!-- META DATA PATTER EXAMPLE 1 --&gt;
&lt;table class="meta-data-small"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Name&lt;/td&gt;
            &lt;td&gt;case-123456789&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Uploaded&lt;/td&gt;
            &lt;td&gt;9 February 2018&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Status&lt;/td&gt;
            &lt;td class="bold" style="color: #B10E1E"&gt;Rejected&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;

&lt;!-- META DATA PATTER EXAMPLE 2 --&gt;
&lt;table class="meta-data-small"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Age&lt;/td&gt;
            &lt;td&gt;21&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Date of birth&lt;/td&gt;
            &lt;td&gt;8 June 1985&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Nationality&lt;/td&gt;
            &lt;td&gt;British&lt;br&gt;Self-defined as White British&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Address&lt;/td&gt;
            &lt;td&gt;14 Tottenham Court Road, London, WT 1JY&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Email&lt;/td&gt;
            &lt;td&gt;peter.james@abc.com&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;National Insurance&lt;/td&gt;
            &lt;td&gt;PC 12 34 56 78&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;

&lt;!-- META DATA PATTER EXAMPLE 3 --&gt;
&lt;table class="meta-data-large"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Case status&lt;/td&gt;
            &lt;td&gt;Awaiting plea&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Prosecutor&lt;/td&gt;
            &lt;td&gt;Transport for London&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Notice served&lt;/td&gt;
            &lt;td&gt;2 February 2018&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="bold"&gt;Documents&lt;/td&gt;
            &lt;td&gt;
                &lt;div class="download-file"&gt;
                    &lt;img src="/public/images/design_patterns/download/Thumbnail%20icon%20-%20small.png" title="document title"&gt;
                    &lt;div class="download-file-text"&gt;
                        &lt;span class="font-xsmall"&gt;&lt;a href="#"&gt;SJP notice&lt;/a&gt;&lt;/span&gt;
                        &lt;span class="font-xsmall"&gt;PDF, 157KB, 2 pages&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="download-file"&gt;
                    &lt;img src="/public/images/design_patterns/download/Thumbnail%20icon%20-%20small.png" title="document title"&gt;
                    &lt;div class="download-file-text"&gt;
                        &lt;span class="font-xsmall"&gt;&lt;a href="#"&gt;SJP notice&lt;/a&gt;&lt;/span&gt;
                        &lt;span class="font-xsmall"&gt;PDF, 157KB, 2 pages&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->

                    {% include "includes/code_snippet.html" %}

                </div>
            </details>

            
            
            
            
            
            
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Typography</h4>
            <p class="bottom_5">Meta small font-size: 16px <br>
            Meta large font-size: 19px<br>
            Font-weight: bold or normal as shown<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>            
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";
    
    document.getElementById("patternType").innerHTML = "Element";
    
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/meta-data/meta-data.sketch' title='Sketch template for designers' title='Sketch template for designers'>Sketch template</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}