{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Notification banners</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 27 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This pattern can be used when there is important information to tell the user. There are different colours available to offer greater flexibility based on the importance of the information being conveyed.</p>

            <h2 class="heading-medium top_0">Examples</h2> 
            <h3 class="heading-small top_0">Turqoise</h3> 
            <div class="example">
                <!-- NOTIFICATION BANNER PATTERN - TURQOISE + TICK ICON -->
                <div class="notification-banner-nest notification-banner-turqoise bottom_15">
                    <div class="notification-banner">
                        <div class="notification-banner-icon">
                            <object data="/public/images/design_patterns/notification-banner/tick-icon-white.svg" type="image/svg+xml"></object>
                        </div>
                        <div class="notification-banner-text">Accepted case management information</div>
                    </div>
                </div>

                <!-- NOTIFICATION BANNER PATTERN - TURQOISE -->
                <div class="notification-banner-nest notification-banner-turqoise bottom_15">
                    <div class="notification-banner">
                        <div class="notification-banner-text notification-banner-text-no-icon">Accepted case management information</div>
                    </div>
                </div>

                <!-- NOTIFICATION BANNER PATTERN - TURQOISE + TEXT LINK -->
                <div class="notification-banner-nest notification-banner-turqoise">
                    <div class="notification-banner">
                        <div class="notification-banner-text notification-banner-text-no-icon">Example notification with text link</div>
                        <div class="notification-banner-text notification-banner-text-no-icon"><a href="#">text link</a></div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">Various examples including optional icon and option text link.</p>

            <h3 class="heading-small top_0">Green</h3> 
            <div class="example">
                <!-- NOTIFICATION BANNER PATTERN - GREEN + TICK -->
                <div class="notification-banner-nest notification-banner-green">
                    <div class="notification-banner">
                        <div class="notification-banner-icon">
                            <object data="/public/images/design_patterns/notification-banner/tick-icon-white.svg" type="image/svg+xml"></object>
                        </div>
                        <div class="notification-banner-text">With optional tick icon and showing how text wraps lorem ipsum dolor sit amet adipis cing elit sed do tem por incididunt ut labore</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This example includes optional tick icon.</p>

            <h3 class="heading-small top_0">Orange</h3> 
            <div class="example">
                <!-- NOTIFICATION BANNER PATTERN - ORANGE -->
                <div class="notification-banner-nest notification-banner-orange">
                    <div class="notification-banner">
                        <div class="notification-banner-text notification-banner-text-no-icon">Text with no icon</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This is an example of a text only banner.</p>

            <h3 class="heading-small top_0">Red</h3> 
            <div class="example">
                <!-- NOTIFICATION BANNER PATTERN - RED + ALERT ICON -->
                <div class="notification-banner-nest notification-banner-red bottom_15">
                    <div class="notification-banner">
                        <div class="notification-banner-icon">
                            <object data="/public/images/design_patterns/notification-banner/alert-icon-white.svg" type="image/svg+xml"></object>
                        </div>
                        <div class="notification-banner-text">This users mobile number has not yet been verified</div>
                    </div>
                </div>

            
                <!-- NOTIFICATION BANNER PATTERN - RED + LOCK ICON -->
                <div class="notification-banner-nest notification-banner-red">
                    <div class="notification-banner">
                        <div class="notification-banner-icon">
                            <object data="/public/images/design_patterns/notification-banner/lock-icon-white.svg" type="image/svg+xml"></object>
                        </div>
                        <div class="notification-banner-text">Accout locked</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">Examples showing option icons.</p>

            <h3 class="heading-small top_0">Grey</h3> 
            <div class="example">
                <!-- NOTIFICATION BANNER PATTERN - GREY -->
                <div class="notification-banner-nest notification-banner-grey">
                    <div class="notification-banner">
                        <div class="notification-banner-text notification-banner-text-no-icon">Example of grey notification</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This is an example of a text only banner.</p>

            
            
            
            
            
            
            
            
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* NOTIFICATION BANNERS PATTERN */
.notification-banner-turqoise {
    background-color: #28A197;
}
.notification-banner-green {
    background-color: #006435;
}
.notification-banner-orange {
    background-color: #E46E2A;
}
.notification-banner-red {
    background-color: #B10E1E;
}
.notification-banner-grey {
    background-color: #6F777B;
}
.notification-banner-nest {
    display: table;
}
.notification-banner {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    min-height: 40px;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}
.notification-banner div {
}
.notification-banner-icon {
    height: 30px;
    float: left;
    width: 20px;
}
.notification-banner-text {
    vertical-align: middle;
    margin-left: 45px;
}
.notification-banner-text-no-icon {
    margin-left: 0px;
}
.notification-banner-text a, .notification-banner-text a:hover, .notification-banner-text a:active {
    color: #ffffff;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;!-- NOTIFICATION BANNER PATTERN - TURQOISE + TICK ICON --&gt;
&lt;div class="notification-banner-nest notification-banner-turqoise bottom_15"&gt;
    &lt;div class="notification-banner"&gt;
        &lt;div class="notification-banner-icon"&gt;
            &lt;object data="/public/images/design_patterns/notification-banner/tick-icon-white.svg" type="image/svg+xml"&gt;&lt;/object&gt;
        &lt;/div&gt;
        &lt;div class="notification-banner-text"&gt;Accepted case management information&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- NOTIFICATION BANNER PATTERN - TURQOISE --&gt;
&lt;div class="notification-banner-nest notification-banner-turqoise bottom_15"&gt;
    &lt;div class="notification-banner"&gt;
        &lt;div class="notification-banner-text notification-banner-text-no-icon"&gt;Accepted case management information&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- NOTIFICATION BANNER PATTERN - TURQOISE + TEXT LINK --&gt;
&lt;div class="notification-banner-nest notification-banner-turqoise"&gt;
    &lt;div class="notification-banner"&gt;
        &lt;div class="notification-banner-text notification-banner-text-no-icon"&gt;Example notification with text link&lt;/div&gt;
        &lt;div class="notification-banner-text notification-banner-text-no-icon"&gt;&lt;a href="#"&gt;text link&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- NOTIFICATION BANNER PATTERN - GREEN + TICK --&gt;
&lt;div class="notification-banner-nest notification-banner-green"&gt;
    &lt;div class="notification-banner"&gt;
        &lt;div class="notification-banner-icon"&gt;
            &lt;object data="/public/images/design_patterns/notification-banner/tick-icon-white.svg" type="image/svg+xml"&gt;&lt;/object&gt;
        &lt;/div&gt;
        &lt;div class="notification-banner-text"&gt;With optional tick icon and showing how text wraps lorem ipsum dolor sit amet adipis cing elit sed do tem por incididunt ut labore&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- NOTIFICATION BANNER PATTERN - ORANGE --&gt;
&lt;div class="notification-banner-nest notification-banner-orange"&gt;
    &lt;div class="notification-banner"&gt;
        &lt;div class="notification-banner-text notification-banner-text-no-icon"&gt;Text with no icon&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- NOTIFICATION BANNER PATTERN - RED + ALERT ICON --&gt;
&lt;div class="notification-banner-nest notification-banner-red bottom_15"&gt;
    &lt;div class="notification-banner"&gt;
        &lt;div class="notification-banner-icon"&gt;
            &lt;object data="/public/images/design_patterns/notification-banner/alert-icon-white.svg" type="image/svg+xml"&gt;&lt;/object&gt;
        &lt;/div&gt;
        &lt;div class="notification-banner-text"&gt;This users mobile number has not yet been verified&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;


&lt;!-- NOTIFICATION BANNER PATTERN - RED + LOCK ICON --&gt;
&lt;div class="notification-banner-nest notification-banner-red"&gt;
    &lt;div class="notification-banner"&gt;
        &lt;div class="notification-banner-icon"&gt;
            &lt;object data="/public/images/design_patterns/notification-banner/lock-icon-white.svg" type="image/svg+xml"&gt;&lt;/object&gt;
        &lt;/div&gt;
        &lt;div class="notification-banner-text"&gt;Accout locked&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- NOTIFICATION BANNER PATTERN - GREY --&gt;
&lt;div class="notification-banner-nest notification-banner-grey"&gt;
    &lt;div class="notification-banner"&gt;
        &lt;div class="notification-banner-text notification-banner-text-no-icon"&gt;Example of grey notification&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>

            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Typography</h4>
            <p class="bottom_5">Font-size: 24px<br>
            Font-weight: bold<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>
            
            <h4 class="font-small bold-text top_30 bottom_5">Icons</h4>
            <p class="bottom_10">All icons are 30 x 30 px</p>
            <div class="example">
                <object data="/public/images/design_patterns/notification-banner/tick-icon-black.svg" type="image/svg+xml" style="margin-right: 30px"></object>
                <object data="/public/images/design_patterns/notification-banner/alert-icon-black.svg" type="image/svg+xml" style="margin-right: 30px"></object>
                <object data="/public/images/design_patterns/notification-banner/lock-icon-black.svg" type="image/svg+xml"></object>
            </div>

            <h4 class="font-small bold-text top_30 bottom_5">Banner colours</h4>
            <p class="bottom_5">Turqoise banner:</p>
            <div class="">
                <div class="colour-swatch turquoise">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#28A197<br>$turqoise</div>
            </div>
            <p class="bottom_5">Green banner:</p>
            <div class="">
                <div class="colour-swatch green">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#006435<br>$green</div>
            </div>
            <p class="bottom_5">Orange banner:</p>
            <div class="">
                <div class="colour-swatch" style="background: #E46E2A">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#E46E2A</div>
            </div>
            <p class="bottom_5">Red banner:</p>
            <div class="">
                <div class="colour-swatch red">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#B10E1E<br>$red</div>
            </div>
            <p class="bottom_5">Grey banner:</p>
            <div class="">
                <div class="colour-swatch grey-1">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#6F777B<br>$grey-1</div>
            </div>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";
    
    document.getElementById("patternType").innerHTML = "Element";
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/notification-banner/notification-banner-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "";
</script>

{% endblock %}