{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Right column navigation</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 25 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This pattern is used when there are secondary links and information tha that need to be displayed.</p>
            
            <div class="example">
                <!-- RIGHT COLUMN NAVIGATION - VARIATION ONE -->
                <div class="right-column-nav">
                    <hr class="bold-hr">
                    <p><a href="">View this user's details</a></p>
                    <p><a href="">Search for another user in this organisation</a></p>
                    <p><a href="">Search for another organisation</a></p>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This variation includes links only.</p>
            
            <div class="example">
                <!-- RIGHT COLUMN NAVIGATION - VARIATION TWO -->
                <div class="right-column-nav">
                    <h5>This user last signed in on 13 December 2017 at 2:36pm</h5>
                    <hr class="bold-hr">
                    <p><a href="">View this user's details</a></p>
                    <p><a href="">Search for another user in this organisation</a></p>
                    <p><a href="">Search for another organisation</a></p>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This variation includes a single block of information text above the text links.</p>

            <div class="example">
                <!-- RIGHT COLUMN NAVIGATION - VARIATION THREE -->
                <div class="right-column-nav">
                    <h5>This user last signed in on 13 December 2017 at 2:36pm</h5>
                    <hr class="light-hr">
                    <h5>This user last signed in on 13 December 2017 at 2:36pm</h5>
                    <hr class="bold-hr">
                    <p><a href="">View this user's details</a></p>
                    <p><a href="">Search for another user in this organisation</a></p>
                    <p><a href="">Search for another organisation</a></p>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This variation includes multiple blocks of information text above the text links.</p>

            <div class="example">
                <!-- RIGHT COLUMN NAVIGATION - VARIATION FOUR -->
                <div class="right-column-nav">
                    <hr class="bold-hr">
                    <h3 class="heading-medium">To do</h3>
                    <p><a href="">View case materials</a></p>
                    <p><a href="">Enter your analysis and charging decisions</a></p>
                    <p><a href="">Create action plan</a></p>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This variation shows links with a header.</p>

            <div class="example">
                <!-- RIGHT COLUMN NAVIGATION - VARIATION FIVE -->
                <div class="right-column-nav">
                    <hr class="bold-hr">
                    <h3 class="heading-medium">Actions for this org</h3>
                    <p><a href="">View organisation's details</a></p>
                    <h3 class="heading-medium mulitple">Other actions</h3>
                    <p><a href="">Search for another organisation</a></p>
                    <p><a href="">Search all users</a></p>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This variation shows sections of links, each with a header.</p>

            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* RIGHT COLUMN NAVIGATION */
.right-column-nav hr.bold-hr {
    height: 10px;
    background-color: #005EA5;
    margin-top: 10px;
    margin-bottom: 15px;
}
.right-column-nav hr.light-hr {
    height: 1;
    background-color: #BFC1C3;
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-column-nav p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}
.right-column-nav h5 {
    font-size: 19px;
    margin-bottom: 10px;
}
.right-column-nav h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.right-column-nav h3.mulitple {
    margin-top: 30px;
    margin-bottom: 0;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;!-- RIGHT COLUMN NAVIGATION - VARIATION ONE --&gt;
&lt;div class="right-column-nav"&gt;
    &lt;hr class="bold-hr"&gt;
    &lt;p&gt;&lt;a href=""&gt;View this user's details&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Search for another user in this organisation&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Search for another organisation&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;!-- RIGHT COLUMN NAVIGATION - VARIATION TWO --&gt;
&lt;div class="right-column-nav"&gt;
    &lt;h5&gt;This user last signed in on 13 December 2017 at 2:36pm&lt;/h5&gt;
    &lt;hr class="bold-hr"&gt;
    &lt;p&gt;&lt;a href=""&gt;View this user's details&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Search for another user in this organisation&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Search for another organisation&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;!-- RIGHT COLUMN NAVIGATION - VARIATION THREE --&gt;
&lt;div class="right-column-nav"&gt;
    &lt;h5&gt;This user last signed in on 13 December 2017 at 2:36pm&lt;/h5&gt;
    &lt;hr class="light-hr"&gt;
    &lt;h5&gt;This user last signed in on 13 December 2017 at 2:36pm&lt;/h5&gt;
    &lt;hr class="bold-hr"&gt;
    &lt;p&gt;&lt;a href=""&gt;View this user's details&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Search for another user in this organisation&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Search for another organisation&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;!-- RIGHT COLUMN NAVIGATION - VARIATION FOUR --&gt;
&lt;div class="right-column-nav"&gt;
    &lt;hr class="bold-hr"&gt;
    &lt;h3 class="heading-medium"&gt;To do&lt;/h3&gt;
    &lt;p&gt;&lt;a href=""&gt;View case materials&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Enter your analysis and charging decisions&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Create action plan&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;!-- RIGHT COLUMN NAVIGATION - VARIATION FIVE --&gt;
&lt;div class="right-column-nav"&gt;
    &lt;hr class="bold-hr"&gt;
    &lt;h3 class="heading-medium"&gt;Actions for this org&lt;/h3&gt;
    &lt;p&gt;&lt;a href=""&gt;View organisation's details&lt;/a&gt;&lt;/p&gt;
    &lt;h3 class="heading-medium mulitple"&gt;Other actions&lt;/h3&gt;
    &lt;p&gt;&lt;a href=""&gt;Search for another organisation&lt;/a&gt;&lt;/p&gt;
    &lt;p&gt;&lt;a href=""&gt;Search all users&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>

            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>

    document.getElementById("patternSource").innerHTML = "CPP";

    document.getElementById("patternType").innerHTML = "Element";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/right-column-navigation/right-column-navigation.sketch' title='Sketch template for designers'>Sketch template</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}