{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Search (element)</h1>
        </div>
        
        <div class="column-two-thirds">            

            
            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>The search component is based on the GOV.UK standard search box and is comprised of the following:<p>
            <ul class="list list-bullet">
              <li><a href="#search input">search input</a></li>
              <li><a href="#search input inset text">search result inset text</a></li>
            </ul>
            
            
            
            
            
            
            <style>
                .cpp-search {
                    border: 2px solid #0B0C0C;
                    height: 34px;
                    padding-left: 10px;
                }
                .cpp-search-button {
                    vertical-align: bottom;
                    margin-left: -1px;
                }
            </style>
                        
            <a name="search input"></a>
            <!-- ************ -->
            <!-- Search input -->
            <!-- ************ -->            
            <div class="example">
                <div class="cpp-search-group">
                    <label class="form-label" for="case-search">Search for a case</label>
                    <input class="form-control-3-4 cpp-search" id="case-search" type="text" name="case-search"><object data="/public/images/design_patterns/search-input/search-button-blue.svg" type="image/svg+xml" class="svg cpp-search-button"></object>
                </div>
            </div>
            <p class="secondary top_10">This is a typical search box.</p>
            
            <!-- Example -->
            <div class="example top_30">
                <div class="cpp-search-group">
                    <label class="form-label" for="case-search">Search for a case</label>
                    <input class="form-control-3-4 cpp-search" id="case-search" type="text" name="case-search" placeholder="Enter a case number"><object data="/public/images/design_patterns/search-input/search-button-blue.svg" type="image/svg+xml" class="svg cpp-search-button"></object>
                </div>
            </div>
            <p class="secondary top_10">This is shown with optional hint text.</p>
            

            <a name="search input inset text"></a>
            <!-- ************************ -->
            <!-- Search result inset text -->
            <!-- ************************ -->
            <h2 class="heading-medium bottom_5 top_60">Search result inset text element</h2>                        
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Search input</p>
            <div class="example">
                <a href="/public/images/design_patterns/search-input/search-input-inset-text.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/search-input/search-input-inset-text.png" class="example_img" alt="example">
                </a>
            </div>
            <!--<p class="secondary top_10">Description to be confirmed.</p>-->

            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Complete example</h2>                        
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example one</p>
            <div class="example">
                <a href="/public/images/design_patterns/search-input/search-input-example-2.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/search-input/search-input-example-2.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Example before a user starts a search.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example two</p>
            <div class="example">
                <a href="/public/images/design_patterns/search-input/search-input-example-3.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/search-input/search-input-example-3.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Example when no resulfts are found.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example three</p>
            <div class="example">
                <a href="/public/images/design_patterns/search-input/search-input-example-4.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/search-input/search-input-example-4.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Example when there is an error.</p>
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example four</p>
            <div class="example">
                <a href="/public/images/design_patterns/search-input/search-input-example-5.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/search-input/search-input-example-5.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">Example of a successful search with results displayed in a sortable list.</p>
            

            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <p>The search component follows the standard GOV.UK styling as shown in the exaples and as follows:</p>
            <div class="bottom_15">
                <h4 class="font-xsmall bold-text bottom_5">Default button colour</h4>
                <div class="colour-swatch link-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#005EA5<br>$link-colour</div>
            </div>
            <div class="bottom_15">
                <h4 class="font-xsmall bold-text bottom_5">Hover button colour</h4>
                <div class="colour-swatch" style="background-color: #004F8C;">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#004F8C</div>
            </div>
            <div class="bottom_15">
                <p class="bottom_5">Left border is 10px wide and the colour is:</p>
                <!--<h4 class="font-xsmall bold-text bottom_5">Colour</h4>-->
                <div class="colour-swatch border-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#BFC1C3<br>$border-colour</div>
            </div>
            <p>There is 15px space between left border and text.</p>
            <p>How search results are displayed is not fixed or predefined - it should be appropriate for the user need it is addressing.</p>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/search-input/search.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}


