{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Spacing</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2>
            <p>We follow the GDS guidance for spacing:<br>
            <a href="https://govuk-elements.herokuapp.com/layout/#layout-spacing" target="_blank" title="Visit GOV.UK elements > Layout > Spacing">GOV.UK elements > Layout > Spacing</a></p>
            <p>In addition to this the common platform has the following spacings calculated in 5px increments:</p>
            
            <table>
                <thead>
                    <tr>
                        <th scope="col">Mobile</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">xsmall</th>
                        <td class="">5px</td>
                    </tr>
                    <tr>
                        <th scope="row">small</th>
                        <td class="">10px</td>
                    </tr>
                    <tr>
                        <th scope="row">medium</th>
                        <td class="">15px</td>
                    </tr>
                    <tr>
                        <th scope="row">large</th>
                        <td class="">20px</td>
                    </tr>
                    <tr>
                        <th scope="row">xlarge</th>
                        <td class="">30px</td>
                    </tr>
                    <tr>
                        <th scope="row">2xlarge</th>
                        <td class="">45px</td>
                    </tr>
                </tbody>
            </table>

            <table class="top_30 bottom_30">
                <thead>
                    <tr>
                        <th scope="col">Desktop</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">xsmall</th>
                        <td class="">5px</td>
                    </tr>
                    <tr>
                        <th scope="row">small</th>
                        <td class="">15px</td>
                    </tr>
                    <tr>
                        <th scope="row">medium</th>
                        <td class="">20px</td>
                    </tr>
                    <tr>
                        <th scope="row">large</th>
                        <td class="">30px</td>
                    </tr>
                    <tr>
                        <th scope="row">xlarge</th>
                        <td class="">45px</td>
                    </tr>
                    <tr>
                        <th scope="row">2xlarge</th>
                        <td class="">60px</td>
                    </tr>
                </tbody>
            </table>
       
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "GOV.UK<br>CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}