{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Spacing</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Spacing, margins and padding are calculated in 5px increments as follows.:</p>
            
            <div class="grid-row">
               <div class="column-half">
                    <p class="bold top_15 bottom_5 ">Mobile</p>
                    <div class="grid-row">
                       <div class="column-half">
                           <p>xsmall<br>
                           small<br>
                           medium<br>
                           large<br>
                           xlarge<br>
                           2xlarge</p>
                        </div>
                        <div class="column-half">
                            <p>5px<br>
                            10px<br>
                            15px<br>
                            20px<br>
                            30px<br>
                            45px</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <p class="bold top_15 bottom_5">Desktop</p>
                       <div class="column-half">
                           <p>xsmall<br>
                           small<br>
                           medium<br>
                           large<br>
                           xlarge<br>
                           2xlarge</p>
                        </div>
                        <div class="column-half">
                            <p>5px<br>
                            15px<br>
                            20px<br>
                            30px<br>
                            45px<br>
                            60px</p>
                        </div>
                </div>
            </div>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "GOV.UK<br>CPP";
                document.getElementById("patternType").innerHTML = "Element<br>Component";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}