{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Summary item</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>This pattern can be used to summarise at a high level important information.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Examples -->
            
            
            <p class="top_15 bottom_5 bold">Small variants</p>
            <div class="example">
                <div class="grid-row">
                    <div class="column-one-half">            
                        <a href="#" style="text-decoration: none">
                            <h2 class="heading-xlarge bottom_0">8</h2>
                            <p class="bottom_0 top_0" style="font-size: 16px">statements</p>
                        </a>
                    </div>
                    <div class="column-one-half">            
                        <h2 class="heading-xlarge bottom_0">48px</h2>
                        <p class="bold bottom_0 top_0" style="font-size: 16px">16px</p>
                    </div>
                </div>
            </div>
            <p class="secondary top_10">&nbsp;</p>
            
            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Large variants</p>
            <div class="example">
                <div class="grid-row">
                    <div class="column-one-half">            
                        <a href="#" style="text-decoration: none">
                            <h2 class="bottom_0 bold" style="font-size: 80px; line-height:74px">44</h2>
                            <p class="bottom_0 top_0" style="font-size: 16px">exhibits</p>
                        </a>
                    </div>
                    <div class="column-one-half">            
                            <h2 class="bottom_0 bold" style="font-size: 80px; line-height:74px">80px</h2>
                            <p class="bold bottom_0 top_0" style="font-size: 16px">16px</p>
                    </div>
                </div>
            </div>
            <p class="secondary top_10">&nbsp;</p>

            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">In use</p>
            <div class="example">
                <a href="/public/images/design_patterns/summary-item/summary-item-in-use.png" target="_blank" title="View full-size example">
                    <img src="/public/images/design_patterns/summary-item/summary-item-in-use.png" class="example_img" alt="example">
                </a>
            </div>
            <p class="secondary top_10">This is an example of the large variant in use.</p>

            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <ul class="list list-bullet">
                <li>always left aligned with grid columns</li>
                <li>never combine the small and large variants</li>
                <li>large text is always bold</li>
                <li>small text can be bold or light</li>
                <li>links use standard link colours - note that links are NOT underlined</li>
            </ul>

            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/summary-item/summary-item.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "CPP";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}