{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Tabs</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 22 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Use tabs to display a lot of content in a smaller space to avoid very long scrolling pages.</p>
            <p>Be careful to limit the number of tabs to avoid them wrapping at smaller screen sizes.</p>
            <p>There is also a <a href="vertical-tabs.html" target="_self" name="View the vertical tab pattern">vertical (stacked) tab pattern here</a>.</p>

            
            
            
            
            
            
            
            <script>
            </script>
            
            <div class="example">
                <div class="tabGroup">
                    <a id="tabA" class="tab-on" onclick="tabGroup(tabContent, 'TAB-ONE')" href="javascript: void(0)">Tab one</a>
                    <a id="tabB" class="tab" onclick="tabGroup(tabContent, 'TAB-TWO')" href="javascript: void(0)">Tab two</a>
                    <a id="tabC" class="tab" onclick="tabGroup(tabContent, 'TAB-THREE')" href="javascript: void(0)">Tab three</a>
                    <hr>
                </div>
                <div id="tabContent" class="top_30">
                    <div id="tabOneContent">
                        <h4 class="heading-small">Tab one</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="tabTwoContent">
                        <h4 class="heading-small">Tab two</h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div id="tabThreeContent">
                        <h4 class="heading-small">Tab three</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit tempor incididunt ut labore et dolore magna anim id est laborum.</p>
                    </div>
                </div>
            </div>
            
            
            
            
            
            
            
            
            

            
            
            
            
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">/* TABS PATTERN */
.tab, .tab:link {
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    display: inline-block;
    background-color: #DEE0E2;
    margin-left: 0;
    margin-right: 3px;
    height: 20px;
}
.tab:hover {
    text-decoration: none;
}
.tab:active {
    color: #0B0C0C;
    text-decoration: none;
}
.tab:visited {
    color: #0B0C0C;
    text-decoration: none;
}
.tab:focus {
    color: #0B0C0C;
    text-decoration: none;
    background-color: #DEE0E2;
    border: 3px solid #FFBF47;
}
.tab-on, .tab-on:link, .tab-on:hover, .tab-on:active, .tab-on:visited, .tab-on:focus  {
    color: #0B0C0C;
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-right: 3px;
    border: 1px solid #BFC1C3;
    border-bottom: 1px solid #FFFFFF;
    pointer-events: none;
    cursor: default;
}
.tabGroup hr {
    background: #BFC1C3;
    margin-top: -1px;
}
#tabTwoContent, #tabThreeContent {
    display: none;
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View Javascript code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-js"><code class="language-js">/* TABS PATTERN */
function tabGroup(tableObj, which) {

    tabA = 'TAB-ONE';
    tabB = 'TAB-TWO';
    tabC = 'TAB-THREE';

    if(which == tabA) {
        document.getElementById("tabA").className = "tab-on";
        document.getElementById("tabB").className = "tab";
        document.getElementById("tabC").className = "tab";
        document.getElementById("tabOneContent").style.display = "block";
        document.getElementById("tabTwoContent").style.display = "none";
        document.getElementById("tabThreeContent").style.display = "none";
    } else if(which == tabB) {
        document.getElementById("tabA").className = "tab";
        document.getElementById("tabB").className = "tab-on";
        document.getElementById("tabC").className = "tab";
        document.getElementById("tabOneContent").style.display = "none";
        document.getElementById("tabTwoContent").style.display = "block";
        document.getElementById("tabThreeContent").style.display = "none";
    } else if(which == tabC) {
        document.getElementById("tabA").className = "tab";
        document.getElementById("tabB").className = "tab";
        document.getElementById("tabC").className = "tab-on";
        document.getElementById("tabOneContent").style.display = "none";
        document.getElementById("tabTwoContent").style.display = "none";
        document.getElementById("tabThreeContent").style.display = "block";
    } 
}</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">&lt;div class="tabGroup"&gt;
    &lt;a id="tabA" class="tab-on" onclick="tabGroup(tabContent, 'TAB-ONE')" href="javascript: void(0)"&gt;Tab one&lt;/a&gt;
    &lt;a id="tabB" class="tab" onclick="tabGroup(tabContent, 'TAB-TWO')" href="javascript: void(0)"&gt;Tab two&lt;/a&gt;
    &lt;a id="tabC" class="tab" onclick="tabGroup(tabContent, 'TAB-THREE')" href="javascript: void(0)"&gt;Tab three&lt;/a&gt;
    &lt;hr&gt;
&lt;/div&gt;
&lt;div id="tabContent" class="top_30"&gt;
    &lt;div id="tabOneContent"&gt;
        &lt;h4 class="heading-small"&gt;Tab one&lt;/h4&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="tabTwoContent"&gt;
        &lt;h4 class="heading-small"&gt;Tab two&lt;/h4&gt;
        &lt;p&gt;Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="tabThreeContent"&gt;
        &lt;h4 class="heading-small"&gt;Tab three&lt;/h4&gt;
        &lt;p&gt;Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit tempor incididunt ut labore et dolore magna anim id est laborum.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>
            
            
            
            
            
            
            
            
            
            
            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Typography</h4>
            <p>Tab linking text is not underlined.<br>
            All tab text is centre vertically and horizontally with 10 px left and right margin.</p>

             <div>
                <h4 class="font-small bold-text bottom_5">Text colour (Active tab)</h4>
                <div class="colour-swatch text-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#0B0C0C<br>$text-colour</div>
            </div>            
            
           <div class="top_20">
                <h4 class="font-small bold-text bottom_5">Link text colour</h4>
                <div class="colour-swatch link-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#005EA5<br>$link-colour</div>
            </div>            
            
            <div class="top_20">
                <h4 class="font-small bold-text bottom_5">Link text hover colour</h4>
                <div class="colour-swatch link-hover-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#2B8CC4<br>$link-hover-colour</div>
            </div>            
            
            <div class="top_20">
                <h4 class="font-small bold-text bottom_5">Link text visited colour</h4>
                <div class="colour-swatch link-visited-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#4C2C92<br>$link-visited-colour</div>
            </div>            
            
            <div class="top_20">
                <h4 class="font-small bold-text bottom_5">Inactive tab background colour</h4>
                <div class="colour-swatch panel-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#DEE0E2<br>$panel-colour</div>
            </div>            
            
            <div class="top_20">
                <h4 class="font-small bold-text bottom_5">Active tab background colour</h4>
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>            
            
            <div class="top_20">
                <h4 class="font-small bold-text bottom_5">Border colour</h4>
                <div class="colour-swatch border-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#BFC1C3<br>$border-colour</div>
            </div>            
               
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";

    document.getElementById("patternType").innerHTML = "Element";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/tabs/tabs-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}