{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new design and prototyping guide for the CJS CPP</span>
        </p>
    </div>

    <div class="breadcrumbs">
      <ol>
        <li><a href="/">CJS CPP Design</a></li>
        <li><a href="../design_patterns.html">Design patterns</a></li>
        <li>To be confirmed</li>
      </ol>
    </div>

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            
            <h1 class="heading-xlarge">Pattern name to be confirmed</h1>

            <p>Description to be confirmed.</p> 
            <p><img src="/public/images/design_patterns/image_tbc.svg" width="100%"></p>

            <h2 class="heading-medium">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="">Link to Sketch template TBC</a>
                </li>
                <li>
                    <a href="http://govuk-elements.herokuapp.com/alpha-beta-banners/" target="_blank">GOV.UK elements > Alpha and beta banners</a>
                </li>
            </ul>

        </div>
        
        <div class="column-one-third">
            
            <h3 class="heading-small">Other resources</h3>
            <ul class="list list-bullet">
                <li>
                    <a href="https://govuk-elements.herokuapp.com/snippets/">Guide to GOV.UK Elements</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/service-manual">Service design manual</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/design-principles">Government Digital Service Design Principles</a>
                </li>
            </ul>
            
        </div>
        
    </div>
    
</main>

{% endblock %}


