{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Typography - lead paragraph and body copy</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>We use the <a href="http://govuk-elements.herokuapp.com/typography/" target="_blank" title="GOV.UK Typography pattern">GOV.UK Typography pattern</a>.</p>
            <p class="bottom_5">See also:</p>
            <ul class="list list-bullet">
                <li><a href="typography-headings.html" target="_blank" title="">Typography: headings</a></li>
                <li><a href="typography-hidden-text.html" target="_blank" title="">Typography: Hidden text (progressive disclosure)</a></li>
            </ul>

            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">p / lede</p>
            <p class="bottom_10">Font-size: 24px<br>
            Font-weight: normal<br>
            Line-height: 30px / 1.25<br>
            Paragraph space: 20px</p>
            <div class="example">
                <p class="lede top_0 bottom_0">A 24px lead paragraphs, lorem ipsum dolor sit amet consectetur adipiscing elit aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
            
            <!-- Example -->
            <p class="top_30 bottom_5 bold">p</p>
            <p class="bottom_10">Font-size: 19px<br>
            Font-weight: normal<br>
            Line-height: 25px / 1.31579<br>
            Paragraph space: 18px</p>
            <div class="example">
                <p class="top_0 bottom_0">A 19px lead paragraphs, lorem ipsum dolor sit amet consectetur adipiscing elit aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
            
            <!-- Example -->
            <p class="top_30 bottom_5 bold">p / font-small</p>
            <p class="bottom_10">Font-size: 16px<br>
            Font-weight: normal<br>
            Line-height: 20px / 1.25<br>
            Paragraph space: 12px</p>
            <div class="example">
                <h2 class="font-small top_0 bottom_0">A 16px heading, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
            </div>
            
            <!-- Example -->
            <p class="top_30 bottom_5 bold">p / font-xsmall (14px)</p>
            <p class="bottom_10">Font-size: 14px<br>
            Font-weight: normal<br>
            Line-height: 18px / 1.29<br>
            Paragraph space: 8px</p>
            <div class="example">
                <h2 class="top_0 bottom_0" style="font-size: 14px; line-height: 18px">A 14px heading, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
            </div>

            <!-- Example -->
            <p class="top_30 bottom_5 bold">p / font-xxsmall (12px)</p>
            <p class="bottom_10">Font-size: 12px<br>
            Font-weight: normal<br>
            Line-height: 16px / 1.145<br>
            Paragraph space: 8px</p>
            <div class="example">
                <h2 class="top_0 bottom_0" style="font-size: 12px; line-height: 16px">A 12px heading, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
            </div>

            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/typography/typography.sketch" title="Sketch template for designers">Sketch template for designers</a>
                </li>
                <li>
                    <a href="http://govuk-elements.herokuapp.com/typography/" target="_blank" title="GOV.UK elemnets > Typography">GOV.UK elements > Typography</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "GOV.UK";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}