{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Typography - headings</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 23 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>We use the <a href="http://govuk-elements.herokuapp.com/typography/#typography-headings" target="_blank" title="GOV.UK Typography pattern">GOV.UK Typography pattern</a>.</p>
            <p class="bottom_5">See also:</p>
            <ul class="list list-bullet">
                <li><a href="typography-body.html" target="_blank" title="">Typography: lead paragraph and body copy</a></li>
                <li><a href="typography-hidden-text.html" target="_blank" title="">Typography: Hidden text (progressive disclosure)</a></li>
            </ul>

            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">h1 / heading-xlarge</p>
            <p class="bottom_10">Font-size: 48px<br>
            Font-weight: bold<br>
            Line-height: 50px / 1.04167<br>
            Paragraph space: 25px</p>

            <pre class="language-markup"><code class="language-markup">&lt;h1 class="heading-xlarge"&gt;A 48px heading...&lt;/h1&gt;</code></pre>
            {% include "includes/code_snippet.html" %}

            <div class="example">
                <h1 class="heading-xlarge top_0 bottom_0">A 48px heading, lorem ipsum dolor sit amet consectetur adipiscing elit</h1>
            </div>
            
            <!-- Example -->
            <p class="top_30 bottom_5 bold">h2 / heading-large</p>
            <p class="bottom_10">Font-size: 36px<br>
            Font-weight: bold<br>
            Line-height: 40px / 1.11111<br>
            Paragraph space: 25px</p>
            
            <pre class="language-markup"><code class="language-markup">&lt;h2 class="heading-large"&gt;A 36px heading...&lt;/h2&gt;</code></pre>
            {% include "includes/code_snippet.html" %}

            <div class="example">
                <h2 class="heading-large top_0 bottom_0">A 36px heading, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
            </div>
            
            <!-- Example -->
            <p class="top_30 bottom_5 bold">h3 / heading-medium</p>
            <p class="bottom_10">Font-size: 24px<br>
            Font-weight: bold<br>
            Line-height: 30px / 1.25<br>
            Paragraph space: 20px</p>
 
            <pre class="language-markup"><code class="language-markup">&lt;h3 class="heading-medium"&gt;A 24px heading...&lt;/h3&gt;</code></pre>
            {% include "includes/code_snippet.html" %}

            <div class="example">
                <h3 class="heading-medium top_0 bottom_0">A 24px heading, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h3>
            </div>
            
            <!-- Example -->
            <p class="top_30 bottom_5 bold">h4 / heading-small</p>
            <p class="bottom_10">Font-size: 19px<br>
            Font-weight: bold<br>
            Line-height: 25px / 1.31579<br>
            Paragraph space: 18px</p>
            
            <pre class="language-markup"><code class="language-markup">&lt;h4 class="heading-small"&gt;A 19px heading...&lt;/h4&gt;</code></pre>
            {% include "includes/code_snippet.html" %}

            <div class="example">
                <h4 class="heading-small top_0 bottom_0">A 19px heading, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h4>
            </div>

            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "GOV.UK";
    
    document.getElementById("patternType").innerHTML = "Element";
    
    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/typography/typography.sketch' title='Sketch template for designers' title='Sketch template for designers'>Sketch template</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;
    
    document.getElementById("govukResource").innerHTML = "<a href='http://govuk-elements.herokuapp.com/typography/#typography-headings' target='_blank' title='GOV.UK elemnets > Typography'>GOV.UK elements > Typography</a>";

</script>

{% endblock %}