{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge">Typography - hidden text(progressive disclosure)</h1>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>We use the <a href="http://govuk-elements.herokuapp.com/typography/#typography-hidden-text" target="_blank" title="GOV.UK Typography pattern">GOV.UK Typography pattern</a>.</p>
            
            <!-- ******** -->
            <!-- Examples -->
            <!-- ******** -->
            <h2 class="heading-medium bottom_5 top_60">Examples</h2>            
            <!-- Example -->
            <p class="top_15 bottom_5 bold">Example from GOV.UK</p>
            <div class="example">
                <details>
                    <summary><span class="summary">Help with nationality</span></summary>
                    <div class="panel panel-border-narrow">
                        <p>If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.</p>
                        <p>We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</p>
                    </div>
                </details>       
            </div>
            
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            <h2 class="heading-medium top_60">Pattern resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="/public/images/design_patterns/tbc/tbc.sketch" title="Sketch template for designers">Sketch template for designers to be confirmed</a>
                </li>
                <li>
                    <a href="http://govuk-elements.herokuapp.com/typography/#typography-hidden-text" target="_blank" title="GOV.UK elemnets > Typography">GOV.UK elements > Typography</a>
                </li>
            </ul>
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            <script>
                document.getElementById("patternSource").innerHTML = "GOV.UK";
                document.getElementById("patternType").innerHTML = "Element";
            </script>

            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

{% endblock %}