{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Vertical tabs</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 22 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Use vertical tabs to display a lot of content in a smaller space to avoid very long scrolling pages.</p>
            <p>There is also a <a href="tabs.html" target="_self" name="View the horizontal tab pattern">horizontal tab pattern here</a>.</p>


            
            
            
            
            <style>
                /* VERTICAL TABS PATTERN */
                .vTab, .vTab:link {
                    text-decoration: none;
                    padding: 10px 15px 8px 15px;
                    display: inline-block;
                    background-color: #DEE0E2;
                    margin-left: 0;
                    margin-bottom: 5px;
                    width: 125px;
                }
                .vTab:hover {
                    text-decoration: none;
                }
                .vTab:active {
                    color: #0B0C0C;
                    text-decoration: none;
                }
                .vTab:visited {
                    color: #0B0C0C;
                    text-decoration: none;
                }
                .vTab:focus {
                    color: #0B0C0C;
                    text-decoration: none;
                    background-color: #DEE0E2;
                    border: 3px solid #FFBF47;
                }
                .vTab-on, .vTab-on:link, .vTab-on:hover, .vTab-on:active, .vTab-on:visited, .vTab-on:focus  {
                    color: #0B0C0C;
                    text-decoration: none;
                    padding: 10px 10px 8px 10px;
                    display: inline-block;
                    background-color: #FFFFFF;
                    margin-bottom: 5px;
                    border: 1px solid #BFC1C3;
                    border-right: 1px solid #FFFFFF;
                    pointer-events: none;
                    cursor: default;
                    width: 140px;
                }
                #vTabTwoContent, #vTabThreeContent {
                    display: none;
                }
                .vTabGroup {
                    display: inline-block;
                    position: absolute;
                }
                #vTabContent {
                    display: inline-block;
                    border: 1px solid #BFC1C3;
                    margin-left: 160px;
                    padding: 0 15px;
                }
                .vTabSecondaryText {
                    color: #0B0C0C;
                    font-size: 14px;
                }
                .vTabGroup img {
                    float: right;
                    margin-top: 6px;
                }
            </style>
            
            <script>
                /* TABS PATTERN */
                function vTabGroup(tableObj, which) {

                    vTabA = 'TAB-ONE';
                    vTabB = 'TAB-TWO';
                    vTabC = 'TAB-THREE';

                    if(which == vTabA) {
                        document.getElementById("vTabA").className = "vTab-on";
                        document.getElementById("vTabB").className = "vTab";
                        document.getElementById("vTabC").className = "vTab";
                        document.getElementById("vTabOneContent").style.display = "block";
                        document.getElementById("vTabTwoContent").style.display = "none";
                        document.getElementById("vTabThreeContent").style.display = "none";
                    } else if(which == vTabB) {
                        document.getElementById("vTabA").className = "vTab";
                        document.getElementById("vTabB").className = "vTab-on";
                        document.getElementById("vTabC").className = "vTab";
                        document.getElementById("vTabOneContent").style.display = "none";
                        document.getElementById("vTabTwoContent").style.display = "block";
                        document.getElementById("vTabThreeContent").style.display = "none";
                    } else if(which == vTabC) {
                        document.getElementById("vTabA").className = "vTab";
                        document.getElementById("vTabB").className = "vTab";
                        document.getElementById("vTabC").className = "vTab-on";
                        document.getElementById("vTabOneContent").style.display = "none";
                        document.getElementById("vTabTwoContent").style.display = "none";
                        document.getElementById("vTabThreeContent").style.display = "block";
                    } 
                }
            </script>
            
            <div class="example">
                <div class="vTabGroup">
                    
                    <!-- Text only tab -->
                    <div><a id="vTabA" class="vTab-on" onclick="vTabGroup(vTabContent, 'TAB-ONE')" href="javascript: void(0)">Tab one</a></div>
                    
                    <!-- Tab with secondary text -->
                    <div><a id="vTabB" class="vTab" onclick="vTabGroup(vTabContent, 'TAB-TWO')" href="javascript: void(0)">Tab two<br><span class="vTabSecondaryText">Secondary</span></a></div>
                    
                    <!-- Tab with secondary text and tick icon -->
                    <div><a id="vTabC" class="vTab" onclick="vTabGroup(vTabContent, 'TAB-THREE')" href="javascript: void(0)">Tab three<br><span class="vTabSecondaryText">Secondary</span><img src="/public/images/design_patterns/vertical-tabs/tick-green.svg"></a></div>
                    
                </div>
                <div id="vTabContent">
                    <div id="vTabOneContent">
                        <h4 class="heading-small bottom_15">Tab one</h4>
                        <p>This is a standard text only tab.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia incididunt deserunt mollit tempor incididunt ut labore et dolore magna anim id est laborum.</p>

                    </div>
                    <div id="vTabTwoContent">
                        <h4 class="heading-small bottom_15">Tab two</h4>
                        <p>This tab includes optional secondary text.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore sunt in culpa qui officia deserunt mollit tempor occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit tempor incididunt ut labore et dolore magna anim id est laborum eu fugiat nulla pariatur.</p>
                    </div>
                    <div id="vTabThreeContent">
                        <h4 class="heading-small bottom_15">Tab three</h4>
                        <p>This tab includes optional secondary text and optional tick icon.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia incididunt deserunt mollit tempor incididunt ut labore et dolore magna anim id est laborum.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore sunt in culpa qui officia deserunt mollit tempor occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit tempor incididunt ut labore et dolore magna anim id est laborum eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>


            
            
            
            
            
            <!-- ************* -->
            <!-- Code snippets -->
            <!-- ************* -->

            <h2 class="heading-medium bottom_15 top_60">Code snippets</h2>

            <details>
                <summary><span class="summary">View CSS code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-css"><code class="language-css">coming soon</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View Javascript code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-js"><code class="language-js">coming soon</code></pre>

                    <!--<p class="secondary top_10">This is the CSS needed for the CPP buttons. CSS for GOV.UK buttons is already included in the GOV.UK prototype kit.</p>-->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>       

            <details>
                <summary><span class="summary">View HTML code snippet</span></summary>
                <div class="panel panel-border-narrow">
                    
<pre class="language-markup"><code class="language-markup">coming soon</code></pre>

                    <!--
                    <p class="secondary top_10">This code snippet can be used with the <a href="https://govuk-prototype-kit.herokuapp.com/docs" title="GOV.UK Prototype Kit" target="_blank">GOV.UK Prototype Kit</a>.</p>
                    -->
                    
                    {% include "includes/code_snippet.html" %}

                </div>
            </details>
            
            
            
            
            
            
           <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_15">Typography</h4>
            <p class="bottom_5">The text in the tab is repeated as a header in the tab content.</p>
            <p>Linking text is not underlined.</p>
            
            <h4 class="font-small bold-text bottom_15">Tick icon</h4>
            <img src="/public/images/design_patterns/vertical-tabs/tick-icon.png" class="" alt="Tick icon example">
            <p class="bottom_5">The tick icon is green (#006435) and 14 x 11 pixels.</p>
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>
    document.getElementById("patternSource").innerHTML = "CPP";

    document.getElementById("patternType").innerHTML = "Element";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/vertical-tabs/vertical-tabs.sketch' title='Sketch template for designers'>Sketch template</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}