{% extends "layout.html" %}

{% block page_title %}
  CJS Crime Programm design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_design_patterns.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds">            
            <h1 class="heading-xlarge bottom_5">Warning banners</h1>
            <h2 class="heading-xsmall top_0 bottom_30 secondary">Last updated on 21 February 2018</h2>
        </div>
        
        <div class="column-two-thirds">            

            <!-- *********** -->
            <!-- Description -->
            <!-- *********** -->
            <h2 class="heading-medium top_0">Description</h2> 
            <p>Use a warning banner to notify the user of something important.</p>
            

            
            
            
            <style>
                /* WARNING BANNER PATTERN */
                .warning-banner-nest {
                    background-color: #DF3034;
                }
                .warning-banner {
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: bold;
                    background-color: #DF3034;
                    min-height: 40px;
                    display: table-cell;
                    vertical-align: middle;
                    padding: 10px;
                }
                .warning-banner div {
                }
                .warning-banner-icon {
                    height: 20px;
                    float: left;
                    width: 20px;
                }
                .warning-banner-text {
                    vertical-align: middle;
                    margin-left: 30px;
                }
                .warning-banner-icon img {
                    height: 20px;
                    vertical-align: middle;
                }
            </style>
            
            <div class="example">
                <!-- WARNING BANNER PATTERN -->
                <div class="warning-banner-nest">
                    <div class="warning-banner">
                        <div class="warning-banner-icon"><img src="/public/images/design_patterns/warning-banner/alert-icon-white.svg" class="warning-banner-icon"></div>
                        <div class="warning-banner-text">Jo Cooper is working on this case</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This is a typical warning banner.</p>

            <div class="example">
                <!-- WARNING BANNER PATTERN -->
                <div class="warning-banner-nest">
                    <div class="warning-banner">
                        <div class="warning-banner-icon"><img src="/public/images/design_patterns/warning-banner/alert-icon-white.svg" class="warning-banner-icon"></div>
                        <div class="warning-banner-text">Jo Cooper is working on this case - you must check with them before editing anything</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">This example shows text wrapping behaviour.</p>
            
            <div class="example">
                <!-- WARNING BANNER PATTERN -->
                <div class="warning-banner-nest">
                    <div class="warning-banner">
                        <div class="warning-banner-icon"><img src="/public/images/design_patterns/warning-banner/alert-icon-white.svg" class="warning-banner-icon"></div>
                        <div class="warning-banner-text">Lorem ipsum dolor sit amet</div>
                    </div>
                </div>
                <!-- WARNING BANNER PATTERN -->
                <div class="warning-banner-nest top_10">
                    <div class="warning-banner">
                        <div class="warning-banner-icon"><img src="/public/images/design_patterns/warning-banner/alert-icon-white.svg" class="warning-banner-icon"></div>
                        <div class="warning-banner-text">Consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                    </div>
                </div>
                <!-- WARNING BANNER PATTERN -->
                <div class="warning-banner-nest top_10">
                    <div class="warning-banner">
                        <div class="warning-banner-icon"><img src="/public/images/design_patterns/warning-banner/alert-icon-white.svg" class="warning-banner-icon"></div>
                        <div class="warning-banner-text">Quis nostrud exercitation ullamco laboris</div>
                    </div>
                </div>
            </div>
            <p class="secondary top_10 bottom_30">Multiple warning banners can stack.</p>


            
            
            
            


            <!-- ********************** -->
            <!-- Additional information -->
            <!-- ********************** -->
            <h2 class="heading-medium top_60">Additional information</h2>
            <h4 class="font-small bold-text bottom_5">Header text</h4>
            <p class="bottom_5">Font-size: 16px<br>
            Font-weight: bold<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch page-colour">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#FFFFFF<br>$page-colour</div>
            </div>            
            <h4 class="font-small bold-text bottom_5 top_30">Background</h4>
            <p class="bottom_5">Padding: 10px<br>
            Colour:</p>
            <div class="">
                <div class="colour-swatch mellow-red">&nbsp;</div>
                <div class="secondary top_5 bottom_0">#DF3034<br>$mellow-red</div>
            </div>            
            
            <!-- ***************** -->
            <!-- Pattern resources -->
            <!-- ***************** -->
            {% include "includes/pattern_resources.html" %}
            
        </div>
        
        <div class="column-one-third">
            
            {% include "includes/pattern_info.html" %}
            {% include "includes/other_resources.html" %}
            
        </div>
        
    </div>
    
</main>

<script>

    document.getElementById("patternSource").innerHTML = "CPP";

    document.getElementById("patternType").innerHTML = "Element";

    document.getElementById("sketchLibrary").innerHTML = "<a href='/public/images/design_patterns/warning-banner/warning-banner-library.zip' title='Sketch library for designers'>Sketch library</a>";
    document.getElementById("sketchLibrary2").innerHTML = document.getElementById("sketchLibrary").innerHTML;

    document.getElementById("govukResource").innerHTML = "";

</script>

{% endblock %}