{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_home.html" %}

    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Design patterns</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">            
            
            <p>Here you will find the latest CJS CPP Design Patterns for designers.</p>
            
            <p>This is an addendum to the <a href="https://www.gov.uk/service-manual/design#find-patterns">GDS Design Patterns</a> and <a href="http://govuk-elements.herokuapp.com/">GOV.UK elements</a> as well as informing the <a href="https://cjscommonplatform.github.io/govuk_single_page_pdk">Single Page Platform Development Kit</a> to help designers (and front-end developers) to create content for the CJS Common Platform.</p>
                        
            <table class="patterns_list">
                <tbody>
                    <tr>
                        <td><h2 class="heading-medium">Contents</h2></td>
                    </tr>
                    <tr>
                        <td><a href="design_patterns/alpha-beta-banners.html">ALPHA/BETA phase banners</a><br>
                        <a href="design_patterns/tbc.html">Page template</a></td>
                    </tr>
                    <tr>
                        <td>Badge item<br>
                        Breadcrumvs<br>
                        Buttons</td>
                    </tr>
                    <tr>
                        <td>Case markers<br>
                        Character count<br>
                        Collapsible's<br>
                        Colours<br>
                        Complete action bar<br>
                        Confirmation banner<br>
                        Contact info<br>
                        Content loading</td>
                    </tr>
                    <tr>
                        <td>Descriptive label<br>
                        Digit box<br>
                        Document download and upload</td>
                    </tr>
                    <tr>
                        <td>Errors and validation<br>
                        Event log</td>
                    </tr>
                    <tr>
                        <td>Feedback form with email<br>
                        Feedback form with anonymous tick box<br>
                        Filters<br>
                        Form elements<br>
                        Form elements - Date and time pickers<br>
                        Form elements - Type-ahead</td>
                    </tr>
                    <tr>
                        <td>Global header - GOV.UK<br>
                        Global header - Non-GOV.UK<br>
                        Global footer - GOV.UK<br>
                        Global footer - Non-GOV.UK<br>
                        Global navigation<br>
                        Grids and spacing</td>
                    </tr>
                    <tr>
                        <td>Homepage templates<br>
                        HTTP errors</td>
                    </tr>
                    <tr>
                        <td>Icons<br>
                        Image and video<br>
                        Inline important notification</td>
                    </tr>
                    <tr>
                        <td>Labels<br>
                        Legal notice banner<br>
                        Lists</td>
                    </tr>
                    <tr>
                        <td>Meta data</td>
                    </tr>
                    <tr>
                        <td>Names<br>
                        Next/Previous<br>
                        Notification banners</td>
                    </tr>
                    <tr>
                        <td>Pagination<br>
                        Persistant info<br>
                        Personal details<br>
                        Progress list</td>
                    </tr>
                    <tr>
                        <td>Right column navigation</td>
                    </tr>
                    <tr>
                        <td>Search<br>
                        Show more/less<br>
                        Side menu<br>
                        Start action bar<br>
                        Status indicator<br>
                        Summary item</td>
                    </tr>
                    <tr>
                        <td>Tabs<br>
                        Timeline<br>
                        Typography - headings<br>
                        Typography - lead paragraph and body text<br>
                        Typography - hidden text</td>
                    </tr>
                    <tr>
                        <td>Vertical tabs</td>
                    </tr>
                    <tr>
                        <td>Warning banner</td>
                    </tr>

                </tbody>
            </table>


        </div>
        
        <div class="column-one-third">
                {% include "includes/other_resources.html" %}
        </div>
        
    </div>
    
</main>

{% endblock %}


