{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_home.html" %}

    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Design patterns update log</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-full">            
                           
            <p>This update log started on 12 February 2018</p>

            <table class="design-patterns-update-log">
                <tbody>
  
                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">12 February 2018</span></td>
                        <td>
                            <p class="bottom_0">Updated the 'Collapsible content container' pattern with a coded examples (replacing static images)</p>
                        </td>
                    </tr>    

                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">8 February 2018</span></td>
                        <td>
                            <p class="">Added code snippets to the 'Case markers' pattern</p>
                            <p class="">Replaced the 'Character count' pattern examples images with code</p>
                            <p class="">Added a new Sketch library for the 'Character count' pattern</p>
                            <p class="bottom_0">Added code snippets to the 'Character count' pattern</p>
                        </td>
                    </tr>    

                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">6 February 2018</span></td>
                        <td>
                            <p class="bottom_0">Updated the 'Case markers' pattern Sketch library</p>
                        </td>
                    </tr>    

                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">4 February 2018</span></td>
                        <td>
                            <p>Updated the 'Breadcrumbs' pattern to include icon details + updated the code snippet</p>
                            <p class="bottom_0">Replaced the 'Case marker' pattern example images with code</p>
                        </td>
                    </tr>    

                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">3 February 2018</span></td>
                        <td>
                            <p>Updated the 'ALPHA/BETA phase banners' patternto used the new global code + new Sketch library</p>
                            <p>Updated the 'Analysis and decisions screen' patternto used the new global code</p>
                            <p>Updated the 'Badge item' patternto used the new global code</p>
                            <p>Updated the 'Breadcrumbs' pattern to used the new global code + new Sketch library</p>
                            <p class="bottom_0">Updated the 'Buttons' pattern Sketch libary </p>
                        </td>
                    </tr>    

                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">2 February 2018</span></td>
                        <td>
                            <p>Updated the global code for displaying examples</p>
                            <p>Updated the global code for better display of code snippets</p>
                            <p class="bottom_0">Updated the 'Buttons' pattern to used the new global code</p>
                        </td>
                    </tr>    
                    
                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">1 February 2018</span></td>
                        <td>
                            <p class="bottom_0">Updated the 'Buttons' pattern with a new Sketch library - includes instructions for installing and removing a Sketch library</p>
                        </td>
                    </tr>    

                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">30 January 2018</span></td>
                        <td>
                            <p>Design patterns update log created</p>
                            <p>Added 'Sketch resources' to the 'Design patterns' homepage</p>
                            <p class="bottom_0">Added info for the GDS colour palette to the 'Colour' pattern page</p>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
</main>

{% endblock %}


