{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_home.html" %}

    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Design patterns update log</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-full">            
                           
            <p>This update log started on 30 January 2018</p>

            <table class="design-patterns-update-log">
                <tbody>
                    <tr style="border-top: 1px solid #BFC1C3">
                        <td><span class="bold">30 January 2018</span></td>
                        <td>
                            <p>Design pattersn update log created</p>
                            <p>Added 'Sketch resources' to the 'Design patterns' homepage</p>
                            <p class="bottom_0">Added info for the GDS colour palette to the 'Colour' pattern page</p>
                        </td>
                    </tr>

                    
                </tbody>
            </table>


        </div>
    </div>
    
</main>

{% endblock %}


