{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_home.html" %}

    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Design patterns</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">            
            
            <p>Here you will find the latest CJS CPP Design Patterns for designers. These patterns can be individual 'elements' or 'components' (a collection of 'elements' used together).</p>
            
            <p>This is an addendum to the <a href="https://www.gov.uk/service-manual/design#find-patterns">GDS Design Patterns</a> and <a href="http://govuk-elements.herokuapp.com/">GOV.UK elements</a> as well as informing the <a href="https://cjscommonplatform.github.io/govuk_single_page_pdk">Single Page Platform Development Kit (PDK)</a> to help designers to create content and prototypes for the CJS Common Platform.</p>
                        
            <table class="patterns_list">
                <tbody>
                    <tr>
                        <td>
                            <h2 class="heading-medium">Contents</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/tbc.html">Page template</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/alpha-beta-banners.html">ALPHA/BETA phase banners</a><br/>
                            <a href="design_patterns/analysis-and-decisions-screen.html">Analysis and decisions screen</a>*
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/badge-item.html">Badge item</a><br>
                            <a href="design_patterns/breadcrumbs.html">Breadcrumbs</a><br>
                            <a href="design_patterns/buttons.html">Buttons</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/case-marker.html">Case marker</a><br>
                            <a href="design_patterns/character-count.html">Character count</a><br>
                            <a href="design_patterns/collapsible-content-container.html">Collapsible content container</a><br>
                            <a href="design_patterns/colours.html">Colour</a><br>
                            <a href="design_patterns/complete-action-bar.html">Complete action bar</a><br>
                            <a href="design_patterns/confirmation-banner.html">Confirmation banner</a><br>
                            <a href="design_patterns/contact-info.html">Contact info</a><br>
                            <a href="design_patterns/content-loading.html">Content loading</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/calendar.html">Date picker</a>*<br>
                            <a href="design_patterns/descriptive-label.html">Descriptive label</a><br>
                            <a href="design_patterns/dialog-box.html">Dialog box</a>*<br>
                            <a href="design_patterns/digit-box.html">Digit box</a><br>
                            <a href="design_patterns/download-files.html">Download files</a> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/errors-and-validation.html">Errors and validation</a><br>
                            <a href="design_patterns/event-log.html">Event log</a>*
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/filters-advanced.html">Filters - advanced</a>*<br>
                            <a href="design_patterns/filters-basic.html">Filters - basic</a><br>
                            <a href="design_patterns/form-elements.html">Form elements</a><br>
                            <a href="design_patterns/form-elements-date-picker.html">Form elements: Date picker</a>*<br>
                            <a href="design_patterns/form-elements-date-range-picker.html">Form elements: Date range picker</a>*<br>
                            <a href="design_patterns/form-elements-time-picker.html">Form elements: time picker</a><br>
                            <a href="design_patterns/form-elements-type-ahead.html">Form elements: Type-ahead</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/global-header-govuk.html">Global header (GOV.UK)</a><br>
                            <a href="design_patterns/global-header-cpp.html">Global header (CPP)</a><br>
                            <a href="design_patterns/global-footer-govuk.html">Global footer (GOV.UK)</a><br>
                            <a href="design_patterns/global-footer-cpp.html">Global footer (CPP)</a><br>
                            <a href="design_patterns/global-navigation.html">Global navigation</a><br>
                            <a href="design_patterns/global-notification.html">Global notification</a><br>
                            <a href="design_patterns/grids.html">Grids</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/homepage-template.html">Homepage template (landing page/dashboard)</a> - EXAMPLES, REDLINE SPECIFICATIONS AND SKETCH FILES NEEDED<br>
                            <a href="design_patterns/http-errors.html">HTTP errors</a> - EXAMPLES, REDLINE SPECIFICATION AND SKETCH FILE NEEDED
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/icons.html">Icons</a> - EXAMPLES, REDLINE SPECIFICATIONS AND SKETCH FILES NEEDED<br>
                            <a href="design_patterns/image-and-video.html">Image and video</a> - DESCRIPTION, EXAMPLES AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/in-browser-document-preview.html">In browser document preview</a>*<br>
                            <a href="design_patterns/inline-important-notification.html">Inline important notification</a> - EXAMPLES AND SKETCH FILE NEEDED
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/labels.html">Labels</a> - DESCRIPTION, EXAMPLES, REDLINE SPECIFICATION AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/legal-notice-banners.html">Legal notice banner</a> - EXAMPLES, REDLINE SPECIFICATION AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/lists.html">Lists</a> - EXAMPLES AND SKETCH FILE NEEDED
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/meta-data.html">Meta data</a> - DESCRIPTION, EXAMPLES AND SKETCH FILE NEEDED
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<a href="design_patterns/names.html">Names</a><br>-->
                            <a href="design_patterns/next-previous.html">Next/Previous</a> - EXAMPLES, ICON DETAILS AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/notification-banners.html">Notification banners</a> - EXAMPLES, REDLINE SPECIFICATION AND SKETCH FILE NEEDED
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/pagination.html">Pagination</a> - EXAMPLES, ICON DETAILS AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/persistant-info-banners.html">Persistant info banners</a> - DESCRIPTION, EXAMPLES, CASE MARKER INFO AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/personal-details.html">Personal details</a> - DESCRIPTION, EXAMPLES AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/Progress-list.html">Progress list</a> - DESCRIPTION, EXAMPLE, ADDITIONAL INFORMATION AND SKETCH FILE NEEDED
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/right-column-navigation.html">Right column navigation</a> - DESCRIPTION, EXAMPLES, ADDITIONAL DETAILS AND SKETCH FILE NEEDED
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/search.html">Search</a> - EXAMPLES, REDLINE SPECIFICATION AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/show-more-less.html">Show more/less</a> - EXAMPLES AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/side-menu.html">Side menu</a> - EXAMPLES, ADDITIONAL INFORMATION AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/spacing.html">Spacing</a> - NEED TO FIX MOBILE LAYOUT<br>
                            <a href="design_patterns/start-action-bar.html">Start action bar</a> - EXAMPLES, ADDITIONAL INFORMATION, REDLINE SPECIFICATIONS AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/status-indicator.html">Status indicator</a> - EXAMPLES, ADDITIONAL INFO AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/summary-item.html">Summary item</a> - DESCRIPTION, EXAMPLES, ADDITIONAL INFORMATION AND SKETCH FILE NEEDED
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="design_patterns/tabs.html">Tabs</a> - DESCRIPTION, EXAMPLES, REDLINE SPECIFICTION AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/timeline.html">Timeline</a> - EXAMPLE AND SKETCH FILE NEEDED<br>
                            <a href="design_patterns/typography-headings.html">Typography - headings</a> - SKETCH FILE NEEDED<br>
                            <a href="design_patterns/typography-body.html">Typography - lead paragraph and body copy</a> - SKETCH FILE NEEDED<br>
                            <a href="design_patterns/typography-hidden-text.html">Typography: Hidden text (progressive disclosure)</a> - SKETCH FILE NEEDED
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <a href="design_patterns/download-files.html">Upload files</a> - NEEDS DESCRIPTION, EXAMPLES, ADDITIONAL INFO AND SKETCH FILE 
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="design_patterns/vertical-tabs.html">Vertical tabs</a> - NEEDS DESCRIPTION, EXAMPLES, ADDITIONAL INFORMATION, REDLINE SPECIFICATION AND SKETCH FILE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *** <a href="design_patterns/warning-banners.html">Warning banner</a> - NEEDS DESCRIPTION, EXAMPLES, REDLINE SPECIFICATION, ADDITIONAL INFORMATION AND SKETCH FILE
                        </td>
                    </tr>

                </tbody>
            </table>
            <p class="top_15 secondary">* indicates a pattern that is currently under review by UX and not yet complete.</p>


        </div>
        
        <div class="column-one-third">
                {% include "includes/other_resources.html" %}
        </div>
        
    </div>
    
</main>

{% endblock %}


