{% extends "layout.html" %}

{% block page_title %}
  CJS CPP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back_to_home.html" %}

    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge bottom_5">Design patterns update log</h1>
            <p class="secondary bottom_5">This update log started on 30 January 2018</p>
            <p class="secondary bottom_60">Last update on 23 February 2018</p>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-full">            
                           
            <table class="design-patterns-update-log">
                <tbody>
  
                    <tr>
                        <td><span class="bold">23 February 2018</span></td>
                        <td>
                            <h4 class="first">'Vertical' pattern</h4>
                            <p>Added code snippets</p>
                            <p>Updated the Sketch library</p>
                            
                            <h4>'Typography - lead paragraph and body copy' pattern</h4>
                            <p>Added code snippets</p>
                            <p>Updated pattern</p>
                            
                            <h4>'Typography - headings' pattern</h4>
                            <p>Added code snippets</p>
                            <p>Updated pattern</p>
                            
                            <h4>'Typography - hidden text (progressive disclosure)' pattern</h4>
                            <p>Added code snippets</p>
                            <p>Updated pattern</p>
                            
                            <h4>'Digit box' pattern</h4>
                            <p>Added code snippets</p>
                            <p>Updated pattern</p>
                            
                            <h4>'Summary item' pattern</h4>
                            <p>Added code snippets</p>
                            <p>Updated pattern</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>
                            
                    <tr>
                        <td><span class="bold">22 February 2018</span></td>
                        <td>
                            <h4 class="first">'Tabs' pattern</h4>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            <p>Updated the Sketch library</p>
                            
                            <h4>'Vertical' pattern</h4>
                            <p>Replaced example images with coded examples</p>
                            <p>Created code snippets</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>
                            
                    <tr>
                        <td><span class="bold">21 February 2018</span></td>
                        <td>
                            <h4 class="first">'Upload file' pattern</h4>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            <p>Updated the Sketch library</p>
                            
                            <h4>'Download files' pattern</h4>
                            <p>Added additional examples</p>
                            <p>Updated the code snippets</p>
                            
                            <h4>'Label' pattern</h4>
                            <p>Updated the pattern</p>
                            <p>Updated the code snippets</p>
                            
                            <h4>'Warning text' pattern</h4>
                            <p>Formerly know as the 'Legal text' pattern</p>
                            <p>Updated the pattern</p>
                            
                            <h4>'Warning banner' pattern</h4>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            <p>Updated the Sketch library</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>
                            
                    <tr>
                        <td><span class="bold">20 February 2018</span></td>
                        <td>
                            <h4 class="first">'Important inline notification' pattern</h4>
                            <p>Replaced concept image with coded example</p>
                            <p>Added code snippets</p>
                            
                            <h4>'Image and video' pattern</h4>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            <p>Updated the Sketch template</p>
                            
                            <h4>'Grids' pattern</h4>
                            <p>Updated the pattern</p>
                            
                            <h4>'HTTP errors' pattern</h4>
                            <p>Updated the Sketch template</p>
                            
                            <h4>'Download files' pattern</h4>
                            <p>Pattern updated</p>
                            
                            <h4>'Upload files' pattern</h4>
                            <p>Pattern updated</p>
                            
                            <h4>'Global notification' pattern</h4>
                            <p>Pattern updated</p>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            <p>Updated the Sketch template</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">19 February 2018</span></td>
                        <td>
                            <h4 class="first">'Global navigation' pattern</h4>
                            <p>Pattern updated</p>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            <p>Updated the Sketch template</p>

                            <h4>'Form elements' pattern</h4>
                            <p>Pattern updated</p>

                            <h4>'Filters - basic' pattern</h4>
                            <p>Pattern updated</p>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            <p>Created a new Sketch library</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">16 February 2018</span></td>
                        <td>
                            <h4 class="first">'Filters - advanced' pattern</h4>
                            <p>Pattern updated</p>
                            
                            <h4>'Event log' pattern</h4>
                            <p>Pattern updated</p>
                            
                            <h4>'Errors and validation' pattern</h4>
                            <p>Pattern updated</p>
                            
                            <h4>'Download file' pattern</h4>
                            <p>Created a new Sketch library</p>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            
                            <h4>Miscellaneous</h4>
                            <p>Changed the formatting of this update log so it's easier to understand</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">15 February 2018</span></td>
                        <td>
                            <h4 class="first">'Digit box' pattern</h4>
                            <p>Created a new Sketch library</p>
                            <p>Replaced example images with coded examples</p>
                            
                            <h4><span class="bold">'Descriptive label' pattern</span></h4>
                            <p>Created a new Sketch library</p>
                            <p>Replaced example images with coded examples</p>
                            
                            <h4><span class="bold">'Contact info' pattern</span></h4>
                            <p>Created a new Sketch library</p>
                            <p>Replaced example images with coded examples</p>
                            <p>Added code snippets</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">14 February 2018</span></td>
                        <td>
                            <h4 class="first">'Lists' pattern</h4>
                            <p>Replaced the 'Lists' pattern with two new patterns</p>
                            
                            <h4>'Lists - sortable columns' pattern</h4>
                            <p>Created this new pattern</p>
                            <p>Upadated the Sketch template</p>
                            <p>Created coded examples</p>
                            <p>Added code snippets</p>
                            
                            <h4>'Lists - expandable rows' pattern</h4>
                            <p>Created this new pattern</p>
                            <p>Upadated the Sketch template</p>
                            <p>Created coded examples</p>
                            <p>Added code snippets</p>
            
                            <h4>'Confirmation banner' pattern</h4>
                            <p>Upadated the Sketch template</p>
                            <p>Created coded examples</p>
                            <p>Added code snippets</p>
                    
                            <h4>'Alpha and beta phase banners' pattern</h4>
                            <p>Added code snippets</p>
                    
                            <h4>Miscellaneous</h4>
                            <p>Added a reuseable include for code snippets</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">13 February 2018</span></td>
                        <td>
                            <h4 class="first">'Complete action bar' pattern</h4>
                            <p>Created coded examples</p>
                            <p>Added code snippets</p>
                    
                            <h4>'Status indicator' pattern</h4>
                            <p>Added a new Sketch library</p>
                            <p>Created coded examples</p>
                            <p>Added code snippets</p>
                    
                            <h4>'Collapsible content container' Status indicator' pattern</h4>
                            <p>Added a new Sketch library</p>
                            <p>Added code snippets</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">12 February 2018</span></td>
                        <td>
                            <h4 class="first">'Collapsible content container' Status indicator' pattern</h4>
                            <p>Created coded examples</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">8 February 2018</span></td>
                        <td>
                            <h4 class="first">'Case markers' pattern</h4>
                            <p>Added a new Sketch library</p>
                            <p>Added code snippets</p>
                    
                            <h4>'Character count' pattern</h4>
                            <p>Added a new Sketch library</p>
                            <p>Created coded examples</p>
                            <p>Added code snippets</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">6 February 2018</span></td>
                        <td>
                            <h4 class="first">'Case markers' pattern</h4>
                            <p>Added a new Sketch library</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">4 February 2018</span></td>
                        <td>
                            <h4 class="first">'Breadcrumbs' pattern</h4>
                            <p>Updated the about content including icon details<br>
                            <p>Added a new Sketch library<br>
                            <p>Created coded examples<br>
                            <p>Added code snippets</p>
                    
                            <h4>'Case marker' pattern</h4>
                            <p>Created coded examples</p>
                            
                            <div class="design-patterns-update-log-spacer"></div>
                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">3 February 2018</span></td>
                        <td>
                            <h4 class="first">'Alpha and beta phase banners' pattern</h4>
                            <p>Added a new Sketch library</p>
                            
                            <h4>'Analysis and decisions screen' pattern</h4>
                            <p>Pattern updated</p>
                            
                            <h4>'Badge item' pattern</h4>
                            <p>Pattern updated</p>
                            
                            <h4>'Breadcrumbs' pattern</h4>
                            <p>Added a new Sketch library</p>
                            
                            <h4>'Buttons' pattern</h4>
                            <p>Added a new Sketch library</p>                            
                            <div class="design-patterns-update-log-spacer"></div>

                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">2 February 2018</span></td>
                        <td>
                            <h4 class="first">'Buttons' pattern</h4>
                            <p>Pattern updated</p>
                            
                            <h4>Miscellaneous</h4>
                            <p>Updated the global code for displaying examples<br>
                            <p>Updated the global code for better display of code snippets</p>                            
                            <div class="design-patterns-update-log-spacer"></div>

                        </td>
                    </tr>    
                    
                    <tr>
                        <td><span class="bold">1 February 2018</span></td>
                        <td>
                            <h4 class="first">'Buttons' pattern</h4>
                            <p>Added a new Sketch library</p>
                            
                            <h4>Miscellaneous</h4>
                            <p>Created a new "Read me first.pdf" with instructions for installing and removing a Sketch library</p>                            
                            <div class="design-patterns-update-log-spacer"></div>

                        </td>
                    </tr>    

                    <tr>
                        <td><span class="bold">30 January 2018</span></td>
                        <td>
                            <h4 class="first">'Colours' pattern</h4>
                            <p>Added info for the GDS colour palette to the 'Colour' pattern page</p>
                            
                           <h4>Miscellaneous</h4>
                            <p>Design patterns update log created<br>
                            <p>Added 'Sketch resources' to the 'Design patterns' homepage</p>                            
                            <div class="design-patterns-update-log-spacer"></div>

                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
</main>

{% endblock %}


