{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new design and prototyping guide for the CJS CPP</span>
        </p>
    </div>

    <div class="breadcrumbs">
      <ol>
        <li><a href="/">CJS CPP Design</a></li>
        <li>Getting started</li>
      </ol>
    </div>

    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Getting started</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">
            
            <p>Before you can start there are a few things that needs to be in place. Help and guideance for most of this exists:</p>
            
            <h2 class="heading-large">The GOV.UK prototype kit</h2>
            <p class="bottom_5">The official GOV.UK download and installation instructions, tutorials, examples, templates and more can be found here:</p>
            <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK prototype kit</a>
            
            
            
            
            
            <h2 class="heading-large">Using Terminal</h2>
            <p>The terminal (terminal on mac and linux, git bash on windows) lets you type in commands and run programs on your computer. You can also use it to browse your file system - to open folders, etc.</p>

            <p>Learning a few basic terminal commands can make using the kit much easier.</p>

            <ul class="list list-bullet">
                <li><a href="http://mac.appstorm.net/how-to/utilities-how-to/how-to-use-terminal-the-basics/">Tutorial on using terminal (mac)</a></li>
                <li><a href="https://openhatch.org/missions/windows-setup/open-git-bash-prompt">Tutorial on using git bash (windows)</a></li>
            </ul>
            
            <h3 class="heading-medium">Navigating to your prototype</h3>

<p>You need to be able to navigate to your prototype from the terminal. Most commands for the kit need to be run from the prototype folder.</p>

            <h4 class="heading-small">Mac users:</h4>
            <p>cd ~/projects/juggling-licence-prototype</p>

            <h4 class="heading-small">Windows users:</h4>

            <p>Navigating will depend on whether you have a `Documents` or a `My Documents` folder.</p>

            <p>Documents:<br>
            cd ~/Documents/projects/juggling-licence-prototype</p>

            <p>My Documents:<br>
            cd ~/My\ Documents/projects/juggling-licence-prototype</p>

            <h4 class="heading-small">Returning to this folder</h4>

            <p>It’s important that you be able to navigate to your prototype in the terminal - most commands will need to be run from the prototype folder.</p>

            <p>To check you’re in the right folder, you can run `ls` (list items):</p>
            <p>ls</p>

            <p>You should see a list of files inside the prototype, starting with `CHANGELOG.md, CONTRIBUTING.md, gulpfile.js etc`</p>

            <p> If you don’t see these files, check that you installed the kit into the right location and named it correctly.</p>

            
            
            
            
            
            
            <h2 class="heading-large">Using Git and GitHub</h2>
            <p class="bottom_5">Bite size info to be confirmed.</p>
            <a href="">Link to kit to be confirmed</a>
            
            <h2 class="heading-large">Using Heroku</h2>
            <p class="bottom_5">Bite size info to be confirmed.</p>
            <p><a href="">Link to kit to be confirmed</a></p>

            <a class="button top_30 bottom_30" href="run-the-kit.html" role="button">Next (run the kit)</a>

        </div>
        
        <div class="column-one-third">
            <h2 class="heading-medium">Other resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="https://govuk-elements.herokuapp.com/snippets/">Guide to GOV.UK Elements</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/service-manual">Service design manual</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/design-principles">Government Digital Service Design Principles</a>
                </li>
            </ul>
        </div>
        
    </div>
    
</main>

{% endblock %}


