{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Getting started</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">
            
            <p>Before you can start there are a few things that needs to be in place. Help and guideance for most of this exists:</p>
            
            <h2 class="heading-large">The GOV.UK prototype kit</h2>
            <p class="bottom_5">The official GOV.UK download and installation instructions, tutorials, examples, templates and more can be found here:</p>
            <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK prototype kit</a>
            
            <h2 class="heading-large">Using Terminal</h2>
            <h3 class="heading-medium top_20">Mac users</h3>
            <p>There are a few commands you'll have to run in the terminal to use the kit and make it available online for others to see. To start a terminal, open spotlight and type 'terminal'.</p>
            <p>The important thing to remember about the terminal is that you're working in one directory (folder) at any one time.</p>
            <h4 class="heading-small">Commands</h4>

            <table>
                <tbody>
                    <tr>
                        <th scope="row">cd</th>
                        <td>Change directory</td>
                    </tr>
                    <tr>
                        <th scope="row">cd public</th>
                        <td>change to the directory called 'public'</td>
                    </tr>
                    <tr>
                        <th scope="row">cd ..</th>
                        <td>change to the parent directory</td>
                    </tr>
                    <tr>
                        <th scope="row">cd ~</th>
                        <td>go to your home directory</td>
                    </tr>
                    <tr>
                        <th scope="row">ls</th>
                        <td>List everything in the current directory (files and subdirectories)</td>
                    </tr>
                    <tr>
                        <th scope="row">pwd</th>
                        <td>Print Working Directory - show the current path</td>
                    </tr>
                    <tr>
                        <th scope="row">npm start</th>
                        <td>Start the prototype kit (you need to be in your prototype folder)</td>
                    </tr>
                </tbody>
            </table>

            <p class="top_30">Press up and down on the keyboard to go through previous commands.</p>
            <p>Press ctrl c to cancel a running app.</p>
            <p>Press tab to autocomplete a file or folder name. You may need to press it a second time if there are no unambiguous matches.</p>

            <h3 class="heading-medium">Windows users</h3>
            <p>Get Git for Windows:</p>
            <p><a href="https://git-scm.com/download/win">https://git-scm.com/download/win</a></p>
            <p>This also allows you to install Git Bash, which you can use instead of Terminal. The commands are all the same as Terminal.</p>

            <h2 class="heading-large">Using Git and GitHub</h2>
            <p class="bottom_5">Bite size info to be confirmed.</p>
            <a href="">Link to kit to be confirmed</a>
            
            <h2 class="heading-large">Using Heroku</h2>
            <p class="bottom_5">Bite size info to be confirmed.</p>
            <p><a href="">Link to kit to be confirmed</a></p>

            <a class="button top_30 bottom_30" href="run-the-kit.html" role="button">Next (run the kit)</a>

        </div>
        
        <div class="column-one-third">
            <h2 class="heading-medium">Other resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="https://govuk-elements.herokuapp.com/snippets/">Guide to GOV.UK Elements</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/service-manual">Service design manual</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/design-principles">Government Digital Service Design Principles</a>
                </li>
            </ul>
        </div>
        
    </div>
    
</main>

{% endblock %}


