{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Getting started</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">
            
            <h2 class="heading-large">Install the kit</h2>
            
                <h3 class="heading-medium">Download the kit</h3>
                <p>It contains all you need to design and prototype anything from simple static pages to complex, data-driven transactions.</p>
                <p>The simplest way to get the kit is to [download it as a zip](/prototype-admin/download-latest). You'll use a new copy of the kit for each new prototype you make. That way your prototypes don’t interfere with each other.</p>

                    <h4 class="heading-small">Decide where you want to keep your prototypes</h4>
                    <p>We recommend keeping all your prototypes in one folder called `projects`.</p>

                    <h4 class="heading-small">Unzip the kit</h4>
                    <p>Unzip the kit you downloaded - you should end up with a folder called `govuk_prototype_kit-x.x.x`</p>

                    <h4 class="heading-small">Rename the kit</h4>
                    <p>Rename the folder to something descriptive for your prototype. For this guide, we’ll use `juggling-licence-prototype`.</p>

                    <h4 class="heading-small">Move the kit in to projects folder</h4>
                    <p>Move the kit in to your newly created `projects` folder.</p>
            
            <h2 class="heading-large">Terminal basics</h2>
            <p>The terminal (terminal on mac and linux, git bash on windows) lets you type in commands and run programs on your computer. You can also use it to browse your file system - to open folders, etc.</p>
            <p>Learning a few basic terminal commands can make using the kit much easier.</p>
            
            <ul class="list list-bullet">
                <li><a href="http://mac.appstorm.net/how-to/utilities-how-to/how-to-use-terminal-the-basics/">Tutorial on using terminal (mac)</a></li>
                <li><a href="https://openhatch.org/missions/windows-setup/open-git-bash-prompt">Tutorial on using git bash (windows)</a></li>
            </ul>

                <h3 class="heading-medium">Navigating to your prototype</h3>
                <p>You need to be able to navigate to your prototype from the terminal. Most commands for the kit need to be run from the prototype folder.

                    <h4 class="heading-small">Example for Mac users:</h4>
                    <p>cd ~/Documents/Projects/my-prototype</p>

                    <h4 class="heading-small">Example for Windows users:</h4>
                    <p>Navigating will depend on whether you have a `Documents` or a `My Documents` folder.</p>
                    <p>Documents:<br>
                    cd ~/Documents/Projects/my-prototype</p>
                    <p>My Documents:><br>
                    cd ~/My\ Documents/Projects/my-prototype</p>

                    <h4 class="heading-small">Returning to this folder</h4>
                    <p>It’s important that you be able to navigate to your prototype in the terminal - most commands will need to be run from the prototype folder.</p>
                    <p>To check you’re in the right folder, you can run `ls` (list items).</p>
                    <p>You should see a list of files inside the prototype, starting with `CHANGELOG.md', 'CONTRIBUTING.md', 'gulpfile.js', etc.</p>
                    <p>> If you don’t see these files, check that you installed the kit into the right location and named it correctly.</p>

            <h2 class="heading-large">Install the kit</h2>
                <h3 class="heading-medium">Open a terminal window</h3>
                <p>If you don’t already have one open, open a terminal window and navigate to your prototype folder.</p>

                <h3 class="heading-medium">Install modules</h3>
                <p>You need to download extra code used by the kit before it can run. You can get this by running:</p>
                <p>npm install</p>
                <p>The install may take up to a minute. Whilst installing it may `WARN` about some items - this is ok. As long as there are no `ERROR`s you can continue.</p>

            <a class="button" href="run-the-kit.html" role="button">Next (run the kit)</a>


        </div>
        
        <div class="column-one-third">
            <h2 class="heading-medium">Other resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="https://govuk-elements.herokuapp.com/snippets/">Guide to GOV.UK Elements</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/service-manual">Service design manual</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/design-principles">Government Digital Service Design Principles</a>
                </li>
            </ul>
        </div>
        
    </div>
    
</main>

{% endblock %}


