{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new design and prototyping guide for the CJS CPP</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">CJS CPP design
            <span class="heading-secondary">{{releaseVersion}}</span></h1>
            {{releaseVersion | log }}
        </div>
    </div>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">
            <div class="column-one-third"><img src="/public/images/image6_blk.gif" alt="test image" class="bottom_25"></div>
            <div class="column-one-third"><img src="/public/images/image6_blk.gif" alt="test image" class="bottom_25"></div>
            <div class="column-one-third"><img src="/public/images/image6_blk.gif" alt="test image" class="bottom_25"></div>
            
            <p>Everything you need to get started designing and prototyping for CJS CPP services.</p>
            
            <p class="heading-small"><a href="design_patterns.html">Design patterns</a></p>
            <p class="heading-small"><a href="getting-started.html">Getting started with prototyping</a></p>

        </div>
        
        <div class="column-one-third">
            <h2 class="heading-medium">Other resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="https://govuk-elements.herokuapp.com/snippets/">Guide to GOV.UK Elements</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/service-manual">Service design manual</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/design-principles">Government Digital Service Design Principles</a>
                </li>
            </ul>
        </div>
        
    </div>
    
</main>

{% endblock %}


