{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
     <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new design and prototyping guide for the CJS CPP</span>
        </p>
    </div>

    <div class="breadcrumbs">
      <ol>
        <li><a href="/">CJS CPP Design</a></li>
        <li><a href="getting-started.html">Getting started</a></li>
        <li>Run the kit</li>
      </ol>
    </div>

   <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Getting started</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">            
            
            <h2 class="heading-large">Run the kit</h2>
            <p>You’ll use the terminal to start and stop the kit.</p>

            <h3 class="heading-medium">Open the prototype folder in terminal</h2>
            <p>In terminal, navigate to your prototype folder.</p>

            <h3 class="heading-medium">Running the kit</h2>
            <p>In terminal:<br>
            <code>npm start</code></p>
            <h3 class="heading-medium">Running the kit</h2>
            <p>After the kit has started, you should see a message telling you that the kit is running:<br>
                <code>Listening on port 3000 url: http://localhost:3000</code></p>

            <h3 class="heading-medium">Check it works</h2>
            <p>In your web browser, visit <a href="http://localhost:3000" target="_blank">http://localhost:3000 (opens in a new tab)</a></p>
            <p>You should see the prototype welcome page.</p>

            <h3 class="heading-medium">Quitting the kit</h2>
            <p>It’s fine to leave the kit running for days or while your computer is asleep.</p>

                <h4 class="heading-small">To quit the kit</h3>
                <p>In terminal press the `ctrl` and `c` keys together.</p>

            <h3 class="heading-medium">Installation complete</h2>
            <p>The kit is now installed. Congratulations!</p>

            <a class="button" href="using-github.html" role="button">Next (using GitHub)</a>

        </div>
        
        <div class="column-one-third">
            <h2 class="heading-medium">Other resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="https://govuk-elements.herokuapp.com/snippets/">Guide to GOV.UK Elements</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/service-manual">Service design manual</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/design-principles">Government Digital Service Design Principles</a>
                </li>
            </ul>
        </div>
        
    </div>
    
</main>

{% endblock %}


