{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="grid-row">
        
        <div class="column-full">
            <h1 class="heading-xlarge">Using GitHub</h1>
        </div>
        
    </div>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">            
            
            <h2 class="heading-large">To be confirmed</h2>
            <p>Instructions for creating and using a GitHub account to be confirmed.</p>

            <a class="button" href="using-heroku.html" role="button">Next (using Heroku)</a>

        </div>
        
        <div class="column-one-third">
            <h2 class="heading-medium">Other resources</h2>
            <ul class="list list-bullet">
                <li>
                    <a href="https://govuk-elements.herokuapp.com/snippets/">Guide to GOV.UK Elements</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/service-manual">Service design manual</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/design-principles">Government Digital Service Design Principles</a>
                </li>
            </ul>
        </div>
        
    </div>
    
</main>

{% endblock %}


